{% extends 'core/base.html' %}

{% load i18n %}
{% load static %}
{% block title %}Log in{% endblock %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'members/style.css' %}">
    </head>
<div class="login-page">
    <div class="members-form">
        <h2>{% trans 'Login' %}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button" type="submit">Login</button>
        </form>
            <a href="{% url 'password_reset' %}"><p>{% trans 'Glömt lösenordet?' %}</p></a>
            <a href="{% url 'members:signup' %}"><p>{% trans 'Registrera dig' %}</p></a>
    </div>
</div>
{% endblock %}