{% extends 'core/base.html' %}

{% load i18n %}
{% load static %}
{% block title %}Password reset - Email sent{% endblock %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'members/style.css' %}">
    </head>
    <div style="padding-top: 1rem;">
        <div class="center-box">
          <p>
              {% trans 'Vi har skicket instruktionerna till din mail, ifall en användare är registrerad med denna epost. Du borde få mailet inom kort' %}
          </p>
          <p>
              {% trans 'Ifall du inte fått något mail. Säkerställ att du angett rätt e-post adress samt vänligen granska skräpkorgen.' %}
          </p>
            <p><a class="pw-reset-button" href="{% url 'index' %}">{% trans 'Gå till Startsidan' %}</a></p>
        </div>
    </div>
{% endblock %}