{% extends 'core/base.html' %}

{% load i18n %}
{% load static %}
{% block title %}{% trans 'Login' %}{% endblock %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'members/style.css' %}">
    </head>
<div class="login-page">
    <div class="members-form">
        <h2>{% trans 'Login' %}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
            <button class="button" type="submit">{% trans 'Login' %}</button>
        </form>
            <a href="{% url 'members:password_reset' %}"><p>{% trans 'Glömt lösenordet?' %}</p></a>
            {% if MEMBERS_SIGNUP_ENABLED %}
            <a href="{% url 'members:signup' %}"><p>{% trans 'Registrera dig' %}</p></a>
            {% endif %}
    </div>
</div>
{% endblock %}
