{% load i18n %}
{% autoescape off %}
{% blocktrans with username=user.get_username %}För att inleda lösenordsåterställningen för kontot {{ username }},{% endblocktrans %}
{% trans "klicka på länken nedan:" %}

    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% trans "Ifall det inte går att klicka på länken, vänligen kopiera och klistra in länken i din webbläsare." %}

{% trans "Om ytterligare frågor uppstår, vänligen kontakta styrelsen." %}


{% trans "Mvh," %}
{{ ASSOCIATION_NAME_FULL }}
{% endautoescape %}
