.gallery-image{
  transition: .3s;
  border-radius: var(--defaultRadius);
}

.gallery-image:hover{
    transform: scale(1.01);
}

/* pagination */
.center {
  text-align: center;
}

.pagination {
  display: inline-block;
  margin-top: 30px;
}

.pagination a {
  color: var(--textColorLightish);
  background-color: var(--primaryColorLighter);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: var(--defaultRadius);
}

.pagination .disabled{
  border: 0;
}

.pagination a.active {
  color: var(--textColorLight);
  border: 1px solid var(--linkColorLight);
}

.pagination a:hover:not(.active, .disabled) {background-color: var(--primaryColorLight);}

@media only screen and (min-width: 768px) {
  .grid-sizer,
  .grid-item { 
      width: 24.2%;
  }

  .grid img{
    max-height: 70vh;
  }
}