{% autoescape off %}
    Bäste Axel/Stina,


    Tack för din anmälan till Alumniföreningen Axels och Stinas Gamyler!

    För att slutföra processen, vänligen betala medlemsavgiften på 85 euro till: 

    Mottagare: Kemistklubben vid Åbo Akademi rf
    Kontonummer: FI38 6601 0001 0479 43
    BIC: AABAFI22
    Referens: 5555

    Efter att betalningen är gjord kommer du att bli tillagd i vårt medlemsregister.

    För att ta bort eller ändra din information, kontakta styrelsen på kk@abo.fi

    Mvh,
    Albins R Gamyler
    
    Detta är ett automatiskt meddelande och skall ej besvaras.

{% endautoescape %}