{% autoescape off %}
    Bäste Axel/Stina,


    Tack för att din anmälan till Alumniföreningen Axels och Stinas Gamyler!

    För att slutföra processen, vänligen betala medlemsavgiften på 85 euro till:

    Mottagare: Kemistklubben vid Åbo Akademi rf
    Kontonummer: FI38 6601 0001 0479 43
    BIC: AABAFI22
    Ingen referens, skriv ditt namn i meddelandefältet.

    Efter att betalningen är gjord kommer du att bli tillagd i vårt medlemsregister.

    Kom även ihåg att hålla dina kontaktuppgifter uppdaterade via asg.abo.fi så att vi alltid når dig.

    Mvh,
    Axels och Stinas Gamyler

    Detta är ett automatiskt meddelande och skall ej besvaras.

{% endautoescape %}