{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% block title %}Sign up{% endblock %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'members/style.css' %}">
    </head>
    <div class="signup-page">
        <div class="members-form big">
              <h2>Sign up</h2>
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <p>
                {{ field.label_tag }}<br>
                  {% if field.help_text %}
                      <small>{{ field.help_text }}</small>
                  {% endif %}
                  {{ field }}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            <p class="consent-form-group">
              <input type="checkbox" name="consent" required/>
              Jag godkänner
              <a href="http://{{ request.get_host }}/pages/Registerbeskrivning/" target="_blank">
                villkoren <i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
            </p>
            <button class="button" type="submit">Sign up</button>
          </form>
        </div>
    </div>
{% endblock %}