{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Användarinformation' %}{% endblock %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'members/css/userinfo.css' %}" type="text/css">
    </head>
    <div class="container-md min-vh-100 container-margin-top">
        <div class="container-size">
            <div class="content">
                <!-- User Information Section -->
                <h3>{{ user.username }}</h3>
                <table class="table table-dark table-striped">
                    <tr>
                        <td>Email:</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td>Förnamn:</td>
                        <td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <td>Efternamn:</td>
                        <td>{{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <td>Telefonnummer:</td>
                        <td>{{ user.phone }}</td>
                    </tr>
                    <tr>
                        <td>Adress:</td>
                        <td>{{ user.address }}</td>
                    </tr>
                    <tr>
                        <td>Zip kod:</td>
                        <td>{{ user.zip_code }}</td>
                    </tr>
                    <tr>
                        <td>Stad:</td>
                        <td>{{ user.city }}</td>
                    </tr>
                    <tr>
                        <td>Land:</td>
                        <td>{{ user.country }}</td>
                    </tr>
                    <tr>
                        <td>Medlems typ:</td>
                        <td>{{ user.get_str_membership_type }}</td>
                    </tr>
                    <!-- End of user information fields -->
                </table>
                <br>
                <p>För att ta bort eller ändra din information, kontakta styrelsen på date@abo.fi</p>
                <a href="{% url 'members:functionary' %}" class="custom-button">Funktionärsposter <i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
{% endblock %}
