                <div class="events-container">
                    {% load i18n %}
                    <h3 class="header-border-bottom mt-3 heading-link"><a href="/events/">{% trans "Evenemang" %}</a></h3>
                        {{ calendar_events|json_script:"calendar_json" }}
                    <div class="calendar">
                    </div>
                    <div class="events">
                        <div class="row">
                            <div class="col-md-12">
                                {% for ev in events|slice:":4" %}
                                    <div class="card-group event-card text-light mb-2">
                                        <a href="{% url 'events:detail' ev.slug %}" class="card mb-0 p-1">
                                            <div class="card-body py-1">
                                                <div class="row">
                                                    <div style="margin: auto;" class="col-3">
                                                        <div>
                                                            <span class="badge">{{ ev.event_date_start|date:"d" }}</span>
                                                        </div>
                                                        <div class="text-color">
                                                            {{ ev.event_date_start|date:"M" }}
                                                        </div>
                                                    </div>
                                                    <div style="margin: auto;" class="col-7">
                                                        <div class="d-flex flex-column">
                                                            <small class="list-inline-item">
                                                                <i class="fas fa-calendar-check"></i> {{ ev.event_date_start|date:"D"}}
                                                                <i class="far fa-clock"></i> {{ev.event_date_start|date:"H:i"}}
                                                            </small>
                                                            <h6 class="card-title text-uppercase mt-0">
                                                                <strong>{{ ev.title }}</strong>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                    <div style="margin: auto;" class="col-2">
                                                        <i class="fas fa-chevron-right fa-lg"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% empty %}
                                    <h6>{% trans 'Inga aktiva evenemang hittades' %}...</h6>
                                {% endfor %}
                                {% if events|length >= 4 %}
                                    <a class="more-events-button" href="{% url 'events:index'%}"><i class="far fa-calendar-alt"></i> {% trans 'Mera evenemang' %}...</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
