                <div class="logo-container">
                    {% load i18n %}
                    <h3 class="mt-3">{% trans "Samarbetspartners" %}</h3>
                    <div class="carousel-logos">
                        <ul>
                            {%for ad in ads%}
                            <li class="company-logo text-center">
                                <a href="{{ ad.company_url }}">
                                    <img src="{{ ad.ad_url }}" alt="img" onerror="this.src='/static/core/images/fallback.png'">
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
