{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{{page.title}}{% endblock %}

{% block content %}

    <head>
        <link rel="stylesheet" href="{% static 'formal_events/style.css' %}" type="text/css">
    </head>
    
    <div>
        <br>
        <br>
        <br>
        <h1 class="container">Hello from static {{ static_page.slug }} </h1>
        <div>
            title: {{ static_page.title }}
        </div>
        <div>
            content: {{ static_page.content|safe }}
        </div>
        <div>
            <ul>
            {% for static_page in static_page_list %}
                <li> <a class="container" href="{% url 'formal_events:staticpage' slug static_page.slug %}">{{ static_page.title }} </a> </li>
            {% endfor %}
            </ul>
        </div>
    </div>
   
{% endblock %}
