{% extends 'core/base.html' %}
{% load app_filters %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Tentarkiv' %}{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'archive/css/document.css' %}" type="text/css">
</head>
    <div class="container-md min-vh-100 container-margin-top p-1">
        <div class="container-size" style="max-width: 500px;">
            <div class="content" style="text-align:center;">
                <div class="hero-text-box">
                    <a href="{% url 'archive:exam_archive_upload' %}"> {% trans "Lägg till arkiv" %}</a>
                    <h1>{% trans "Tentarkiv" %} <i class="fas fa-book-dead"></i></h1>
                </div>
                {% for collection in collections %}
                    <div>
                        <a href="{% url 'archive:exams_detail' collection.id %}">{{ collection.title }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

