{% extends 'core/base.html' %}
{% load i18n %}
{% block title %}
  {% translate "Kontakta oss" %}
{% endblock %}
{% block content %}
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js"
          async
          defer></script>
  <div class="container-md min-vh-100 container-margin-top">
    <div class="container-size text-center" style="max-width: 1000px;">
      <div class="content">
        <h1>{% translate "Kontakta oss" %}</h1>
        <h2>{% translate "Feedback" %}</h2>
        <p>{{ intro_text }}</p>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="{{ form.message.id_for_label }}">{% translate "Meddelande" %}*:</label>
            {{ form.message }}
          </div>
          <div class="form-group mt-2">
            <label for="{{ form.email.id_for_label }}">{% translate "Ange din Email om du vill bli kontaktad" %}:</label>
            {{ form.email }}
          </div>
          <div class="cf-turnstile"
               data-sitekey="{{ CAPTCHA_SITE_KEY }}"
               data-callback="javascriptCallback"></div>
          <input class="mt-2" type="submit" value="{% trans 'Submit' %}">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
