{% extends 'social/harassment_form.html' %}
{% load i18n %}
{% block harassment_title %}
  {% translate "Rapportera trakasserier" %}
{% endblock %}
{% block harassment_intro %}
  {% blocktranslate with association_name=ASSOCIATION_NAME association_short=ASSOCIATION_NAME_SHORT trimmed %}
    Du kan rapportera trakasserier antingen anonymt eller ange din kontaktinformation. Vi tar alla former av trakasserier på allvar och kommer att vidta åtgärder för att upprätthålla en trygg och respektfull miljö för alla medlemmar.
    {{ association_name }}s trygghetspersoner behandlar alla rapporteringar av trakasserier och tar kontakt till {{ association_short }}s styrelse och/eller ÅAS trakasseriombud om det så önskas.
  {% endblocktranslate %}
{% endblock %}
