{% extends 'social/harassment_form.html' %}
{% load i18n %}
{% block harassment_title %}
  {% translate "Rapportera trakasserier" %}
{% endblock %}
{% block harassment_intro %}
  {% blocktranslate trimmed %}
    Du kan rapportera trakasserier antingen anonymt eller ange din kontaktinformation. Vi tar alla former av trakasserier på allvar och kommer att vidta åtgärder för att upprätthålla en trygg och respektfull miljö för alla medlemmar.
    Impuls trygghetspersoner behandlar alla rapporteringar av trakasserier och tar kontakt till Impuls styrelse och/eller ÅAS trakasseriombud om det så önskas.
  {% endblocktranslate %}
{% endblock %}
