.root {
  text-align: left;
}

.eventCard :global(.card) {
  border-radius: var(--defaultRadius);
  color: var(--theme-content-text);
  background: var(--theme-content-bg);
  border: 0;
  box-shadow: none;
}

.eventCard :global(.event-date-txt) {
  white-space: nowrap;
}

.eventCard :global(.list-inline-item) {
  color: var(--helpText);
  font-size: 14px;
}

.eventCard :global(.badge) {
  background: var(--primaryColorLighter);
  color: var(--textColorLight);
}



.eventCard :global(.btn) {
  color: var(--theme-button-primary);
  border-color: var(--theme-button-primary);
}

.eventCard :global(.btn:hover) {
  background-color: transparent;
  color: var(--theme-button-primary-hover);
  border-color: var(--theme-button-primary-hover);
}

.eventCard :global(.fa-chevron-right) {
  transition: 0.3s;
}

.eventCard:hover :global(.fa-chevron-right) {
  transform: translateX(10px);
}

.contentPast {
  background-color: var(--secondaryColor);
  padding: 5px;
  border-radius: var(--defaultRadius);
  margin: 5px;
  display: inline-block;
  color: var(--linkColor);
}

.contentPast:hover {
  color: var(--linkColorHover);
}

.contentPast :global(h4) {
  margin: 0;
}