{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
  {% trans "Bokning" %}
{% endblock %}
{% block extra_head %}
  {{ block.super }}
  <link rel="stylesheet"
        href="{% static 'booking/css/booking.css' %}"
        type="text/css">
{% endblock %}
{% block content %}
  <div class="container-md min-vh-100 container-margin-top">
    <div class="container-size">
      <div class="content">
        <h1>{% trans "Bokningskod" %}</h1>
        <p>{% trans "Ange bokningskoden för att kunna boka ett utrymme." %}</p>
        {% include 'booking/partials/code_form.html' %}
        <p>
          <a href="{% url 'booking:index' %}">{% trans "Tillbaka till utrymmena" %}</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
