.footer-img {
    max-height: 200px;
    width: auto;
    filter: brightness(0) invert(1);
}

footer section {
    margin: 25px;
}

footer {
    color: var(--textColorLightish);
    filter: brightness(0) invert(1);
}