/* Homepage for Biocum */

/* Main */

/* Header */

/*About content*/

.about{ 
    background-color: var(--secondaryColor);
    color: var(--textColorDark);
    min-height: 35vh;
    border-radius: var(--defaultRadius);
    padding: 20px;
}

/*News start*/

.main-container{
    display: grid;
    grid-template-columns: 1fr 850px 350px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      ". news sidebar ."
      ". news sidebar ."
      ". ig-scroll ig-scroll .";
    grid-column-gap: 3vw;
}

/*News end*/

/*Sidebar*/

.sidebar-container{
    grid-area: sidebar;
}

/*Event start*/

/*Calendar end*/

/*logos start*/

.logo-container{
    display: block;
}

.mobile-logo-container{
    grid-area: logos;
    display: none;
}

.carousel-logos{
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    border-color: rgb(180, 180, 180);
}

div.carousel-logos {
    overflow: hidden;
  }

div.carousel-logos img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.company-logo img{
    max-height: 100px;
    max-width: 100%;
    /* keep img ratio correct */
    width: auto !important;
    height: auto !important;
}

/*logos end*/

/*Sidebar end*/

/* Generic animations*/

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*width responsiveness*/

@media screen and (max-width: 1400px){
    .main-container{
        grid-template-columns: 5vw 5fr 2fr 5vw;
    }
}

@media screen and (max-width: 991px){
    .main-container{
        grid-template-columns: 1vw 1fr 1vw;
        grid-template-areas:
          ". events ."
          ". news ."
          ". logos ."
          ". ig-scroll .";
    }

    .sidebar-container{
        display: none;
    }

    .mobile-events-container{
        display: block;
    }

    .mobile-logo-container{
        display: block;
    }
}

@media screen and (max-width: 800px) {
}


@media screen and (max-width: 550px) {

    .calendar-tooltip .tooltiptext {
        width: 0;
      }
    .calendar-tooltip:hover .tooltiptext {
        visibility: hidden;
      }
}
