{% autoescape off %}

Du har anmält dig till {{ event.title }}!

Dina uppgifter:

    {% for key, value in attendee_fields.items %}
        {{ key|title }}: {{ value }}
    {% endfor %}
    {% if avec %} {{ attendee_price }}€

    Avec:
    {% for key, value in attendee_avec_fields.items %}
        {{ key|title }}: {{ value }}
    {% endfor %}
    {{ attendee_avec_price }}€
    {% endif %}

Pris Totalt: {{ total_price }}€

Betalningen för KK 100 görs på Kemistklubbens konto.

Mottagare: Kemistklubben vid Åbo Akademi rf
Kontonummer: FI20 6601 0001 0479 76
Referensnummer: 4129
Meddelande: Deltagaravgift & namn
Sista betalningsdag: 1.6.2023

Använd i första hand referensnummer vid betalning. Ifall du betalar mer än en deltagaravgift, vänligen ange i meddelandet vems deltagaravgifter i tillägg till referensnumret, om möjligt.

Vid frågor, kontakta baalmarskalkerna på kkbaal@abo.fi.

Observera även att antalet platser är begränsade. Om du lagts till på reservlistan meddelas du om du får plats.

{% endautoescape %}