{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="sv_FI">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deltagarlista</title>
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/skeleton.css" %}">
    <link rel="stylesheet" href="{% static "css/date.css" %}">
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
</head>
<body>

<div class="container">
    <div class="qr-code"></div>
    <h2 class="title" link="https://api.qrserver.com/v1/create-qr-code/?size=50x50&data=Example"><a
            href="{% url 'events:detail' event.slug %}">{{ event.title }}</a></h2>
    <h5>Datum: {{ event.event_date_start }}</h5>

    {% if event.get_registrations %}
        <table id="attendeeList">
            <thead>
            <tr>
                <th>#<img class="remove-column" src="/static/admin/img/icon-deletelink.svg" alt="Remove"></th>
                <th>Namn<img class="remove-column" src="/static/admin/img/icon-deletelink.svg" alt="Remove"></th>
                <th>E-mail<img class="remove-column" src="/static/admin/img/icon-deletelink.svg" alt="Remove"></th>
                {# Had to use first attendee as example in order to get correct order for column headers #}
                {# TODO:Get preferences eg. with a model property #}
                {% for header, value in event.get_registrations.0.preferences.items %}
                    <th>{{ header }}<img class="remove-column" src="/static/admin/img/icon-deletelink.svg" alt="Remove">
                    </th>
                {% endfor %}
                <th>Registrerad<img class="remove-column" src="/static/admin/img/icon-deletelink.svg" alt="Remove"></th>
            </tr>
            </thead>
            <tbody>
            {% for attendee in event.get_registrations %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ attendee.user }}</td>
                    <td>{{ attendee.email }}</td>
                    {% for key, value in attendee.preferences.items %}
                        <td>
                            {% if value is True %}
                                <img src="/static/admin/img/icon-yes.svg" alt="True">
                            {% elif value is False %}
                                <img src="/static/admin/img/icon-no.svg" alt="True">
                            {% else %}
                                {{ value }}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td>{{ attendee.time_registered }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans "Inga deltagare..." %}</p>
    {% endif %}
</div>

<script>
    $(document).ready(function () {
        $("#attendeeList tr:has(th)").mouseover(function (e) {
            $(this).css("cursor", "pointer");
        });
        $("#attendeeList th").click(function () {
            var iIndex = $(this).closest("th").prevAll("th").length;
            $(this).parents("#attendeeList").find("tr").each(function () {
                $(this).find("td:eq(" + iIndex + ")").toggle();
                $(this).find("th:eq(" + iIndex + ")").toggle();
            });
        });
    });
</script>

</body>
</html>