{% extends 'core/base.html' %}
{% load static %}
{% load i18n localized_urls %}
{% block title %}
  {{ ASSOCIATION_NAME_SHORT }} - {% trans "Poll" %}
{% endblock %}
{% block extra_head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'polls/css/style.css' %}">
{% endblock %}
{% block content %}
  <div class="container-md min-vh-100 container-margin-top">
    <div class="container-size" style="max-width: 500px;">
      <div class="content">
        <a class="mb-2" href="{{ '/polls/'|localized_url }}"><i class="fas fa-long-arrow-alt-left"></i> {% trans "Tillbaka" %}</a>
        <h3>{{ question.question_text }}</h3>
        {% if error_message %}
          <p class="warning">
            <strong>{{ error_message }}</strong>
          </p>
        {% endif %}
        {% if attendance_requirement %}
          {% if not attendance_requirement.is_signed_in %}
            <p class="warning">
              {% blocktrans trimmed %}
                Röstningen kräver att du är inloggad medlem och att du är på plats i mötet.
              {% endblocktrans %}
              <a href="{% url 'members:login' %}?next={% url 'polls:detail' question.id %}">{% trans "Logga in" %}</a>
            </p>
          {% elif attendance_requirement.is_present %}
            <p>
              {% blocktrans trimmed with meeting=attendance_requirement.event %}
                Du är närvarande på {{ meeting }}.
              {% endblocktrans %}
            </p>
          {% else %}
            <p>
              {% blocktrans trimmed with meeting=attendance_requirement.event %}
                Den här frågan får bara besvaras av dem som är på plats på {{ meeting }}.
              {% endblocktrans %}
            </p>
            <a class="btn btn-light"
               href="{% url 'attendance-event-view' attendance_requirement.event.slug %}?next={% url 'polls:detail' question.id %}">
              {% trans "Ange koden och checka in" %}
            </a>
          {% endif %}
        {% endif %}
        <form action="{% url 'polls:vote' question.id %}" method="post">
          {% csrf_token %}
          {% for choice in question.choice_set.all %}
            <input type="{% if question.multiple_choice %}checkbox{% else %}radio{% endif %}"
                   name="choice"
                   id="choice{{ forloop.counter }}"
                   value="{{ choice.id }}">
            <label class="p-2" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
            <br>
          {% endfor %}
          <input class="btn btn-light" type="submit" value="Rösta">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
