.idea/

*.env
!*example.env

*.mo

__pycache__/
*.py[cod]
*$py.class
date/static/ckeditor
date/static/admin

media
!media/.gitkeep

# 2018-09-12 Decided to commit all migration files
# **/migrations/*.py
# !**/migrations/*_initial.py
# !**/migrations/__init__.py
