version: '3'

services:
  db:
    image: postgres:10.1-alpine
    restart: always
    volumes:
      - date_postgres_data_test:/var/lib/postgresql/data/
    ports:
      - ${DATE_DB_PORT}:5432
    environment:
      - POSTGRES_PASSWORD=${DATE_DB_PASSWORD}
  web:
    build: .
    restart: always
    # igscheduler startup command(nohup python /code/social/igupdate.py &) &&
    command: bash -c "./wait-for-postgres.sh db:5432 && python /code/manage.py migrate --noinput && python manage.py collectstatic --noinput && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/code
    ports:
      - ${DATE_DJANGO_PORT}:8000
    environment:
      - SECRET_KEY=${DATE_SECRET_KEY}
      - DEBUG=${DATE_DEBUG}
      - DEVELOP=${DATE_DEVELOP}
      - DB_PASSWORD=${DATE_DB_PASSWORD}
      - USE_S3=${USE_S3}
      - AWS_S3_ENDPOINT_URL=${S3_ENDPOINT_URL}
      - AWS_ACCESS_KEY_ID=${S3_ACCESS_KEY}
      - AWS_SECRET_ACCESS_KEY=${S3_SECRET_KEY}
      - AWS_STORAGE_BUCKET_NAME=${S3_BUCKET_NAME}
      - PUBLIC_MEDIA_LOCATION=${PUBLIC_MEDIA_LOCATION}
      - PRIVATE_MEDIA_LOCATION=${PRIVATE_MEDIA_LOCATION}

    depends_on:
      - db
  redis:
    image: redis:6.0
    ports:
      - ${REDIS_PORT}:6379

volumes:
  date_postgres_data_test:

#networks: 
#  default: 
#    external: 
#      name: external-example 
