Django==3.1.13
asgiref==3.2.10
django-ckeditor
requests
django-environ
psycopg2-binary
pillow
python-dateutil
icalendar
django-ical
django-admin-ordering
whitenoise
channels==2.4.0
channels_redis
websocket_client==0.57.0
six
instaloader
schedule
boto3
django-storages
sorl-thumbnail
django-tables2
django-filter
django-bootstrap3
django_cleanup
