django
asgiref
django-ckeditor
requests
django-environ
psycopg2-binary
pillow
python-dateutil
icalendar
django-ical
django-admin-ordering
whitenoise
channels
channels_redis
websocket-client
six
instaloader
schedule
boto3
django-storages
django-tables2
django-filter
django-bootstrap3
django-cleanup
daphne
