{% load static %}
<link rel="stylesheet"
      href="https://releases.transloadit.com/uppy/v5.2.1/uppy.min.css"
      integrity="sha384-NzIdpCBvjrLNO5q++7oATl82kfw2215yoGwNXl2rBMEJUgfDnr8ARb5Cun15j4Fl"
      crossorigin="anonymous"
      type="text/css">
<script src="https://releases.transloadit.com/uppy/v5.2.1/uppy.min.js"
        integrity="sha384-USskOeHHruJvx6lh5sjMWaKzZruHVickYFbSNPpnVSCbeC/2SgxdYjnMHgHrnHsx"
        crossorigin="anonymous"
        defer></script>
<script src="{% static 'uploads/js/uppy-init.js' %}" defer></script>
