.mobile-logo-container {
    grid-area: logos;
    display: none;
}

.carousel-logos {
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    border-color: rgb(180, 180, 180);
}

div.carousel-logos img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
