{% extends 'core/base.html' %}
{% load i18n %}
{% load cache %}
{% block content %}
    {% get_current_language as LANGUAGE_CODE %}
    {% load static %}
    {% cache 300 main_page_fixed LANGUAGE_CODE %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'date/css/layout.css' %}?{% now 'U' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'date/css/hero.css' %}?{% now 'U' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'date/css/about.css' %}?{% now 'U' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'date/css/news.css' %}?{% now 'U' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'date/css/events.css' %}?{% now 'U' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'date/css/partners.css' %}?{% now 'U' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'date/css/vanilla-calendar.min.css' %}" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/157670/jquery.jcarousellite.min.js"></script>
        <script src="{% static 'date/js/vanilla-calendar.min.js' %}"></script>
    </head>

    <div class="container-fluid p-2 min-vh-100">
        {% include "demo/date/components/header.html" %}
        {% include "demo/date/components/about.html" %}
        <section id="news" class="news-events">
            <div id="main" class="main-container">
                {% include "demo/date/components/news.html" %}
                <div class="sidebar-container">
                    {% include "demo/date/components/events.html" %}
                    {% include "demo/date/components/extras.html" %}
                </div>
                {% include "demo/date/components/mobile.html" %}
                {% include "demo/date/components/partners.html" %}
            </div>
        </section>
        <section id="reklam" class="text-size">
        </section>
    </div>

    {% include "demo/date/components/scripts.html" %}
    {% endcache %}
{% endblock %}
