a{
    color: var(--linkColor);
}

.container{
    background-color: var(--primaryColor);
    padding-top: 10vh;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    align-content: start;
}

.container{
    display: grid;
    grid-template-columns: 3vw 1fr 3vw;
    grid-template-rows: auto;
    grid-template-areas: 
      ". news .";     
      grid-row-gap: 50px;
}

.news-grid{
    grid-area: news;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
}

.news{
    background-color: var(--secondaryColor);
    border-bottom: solid;
    border-width: 2px;
    border-color: rgb(180, 180, 180);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.news img{
    max-height: 50vw;
    max-width: 100%;
    /* keep img ratio correct */
    width: auto !important;
    height: auto !important;

}

.author{
    color: var(--helpText);
}

.text-size{
    font-size: 1.5rem;
}

.more-button{
    display: inline-block;
    color: var(--linkColor);
}
.more-button:hover{
    transition: 0.3s;
    color: var(--primaryColorLight);
}

div.news-content a{
    display: inline-block;
    color: var(--linkColor);
}

div.news-content a:hover{
    transition: 0.3s;
    color: var(--primaryColorLight);
}

@media only screen and (min-width: 836px) {
    .container{
        display: grid;
        grid-template-columns: 20vw 1fr 20vw;
        grid-template-rows: auto;
        grid-template-areas: 
          ". news .";     
        grid-row-gap: 50px;
    }

    .news img{
        max-height: 30vw;
        max-width: 100%;
    
    }
}