a{
    color: var(--linkColorSecondary);
}

.container{
    background-color: var(--primaryColor);
    padding-top: 10vh;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    align-content: start;
    color: var(--secondaryColorDarker);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      ". news .";     
      grid-row-gap: 50px;
}

.news-grid{
    grid-area: news;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
}

.news{
    background-color: var(--primaryColorLighter);
    border-bottom: solid;
    border-width: 2px;
    border-color: rgb(180, 180, 180);
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.news img{
    max-height: 35vh;
    max-width: 100%;
    /* keep img ratio correct */
    width: auto !important;
    height: auto !important;
    border-radius: 3px;
}

.author{
    color: var(--helpText);
}

.text-size{
    font-size: 1.5rem;
}

.more-button{
    display: inline-block;
    color: var(--linkColorSecondary);
}
.more-button:hover{
    transition: 0.3s;
    color: var(--linkSecondaryHover);
}

div.news-content a{
    display: inline-block;
    color: var(--linkColorSecondary);
}

div.news-content a:hover{
    transition: 0.3s;
    color: var(--linkSecondaryHover);
}

@media only screen and (max-width: 1200px) {
    .container{
        grid-template-columns: 10vw 1fr 10vw;
    }
}
@media only screen and (max-width: 900px) {
    .container{
        grid-template-columns: 3vw 1fr 3vw;
    }
}