h2 {
    color: var(--primaryColor);
        text-align: center;
    border-bottom: 1px solid var(--primaryColor);
    font-size: 4em;
}

h4 {
    text-align: center;
}

.news-grid{
    min-height: 95vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.news {
    margin: 2rem;
}

.news-content p{
    font-size: 2.5em;
    line-height: 1em;
}
.more-button {
    color: var(--primaryColor);
    text-align: center;
    font-size: 1em;
    transition: font-size .3s;
}
.news:hover .more-button {
    font-size: 1.5em;
}

@media screen and (max-width: 1200px) {
    .news-grid {
        grid-template-columns: 1fr;
    }
}