/* Root colors */
/* use with var(--color); included in base.html*/

:root {
    --primaryColor: #84030B;
    --primaryColorLight: #a8131d;
    --primaryColorLighte: #b52831;
    --primaryColorLighter: #df5b63;
    --primaryColorTransparent: rgba(132, 3, 11, 0.7);
    --primaryColorTransparenter: rgba(132, 3, 11, 0.65);
    --secondaryColor: #ffc400;
    --secondaryColorDarker: #131313;
    --textColorLight: #faf0dc;
    --textColorLightish: #faf0dc;
    --textColorDark: #000;
    --textColorDarkish: #202020;
    --textColorMedium: #606060;
    --helpText: var(--textColorLightish);
    --helpTextLighter: rgb(199, 199, 199);
    --linkColorDark: #3a80c3;
    --linkColorDarkHover: #26547f;
    --linkColorLight: #ffc400;
    --linkColorLightHover: #edc057;
    --warning: rgb(216, 153, 146);
    --warning-darker: rgb(213, 91, 78);
    --navClickHighlight: rgba(255, 255, 255, 0.25);
    --navHoverHighlight: rgba(255, 255, 255, 0.15);
    --defaultPadding: 20px;
    --defaultRadius: 5px;
}
