.panel {
  margin: 20px 2vw;
  background: var(--primaryColorLight);
  border: 0;
  border-radius: var(--defaultRadius);
  padding: var(--defaultPadding);
  color: var(--textColorLightish);
}

.panel h1,
.panel h2,
.panel h3 {
  color: var(--textColorLightish);
}

.panel a {
  color: var(--linkColorLight);
}

.panel a:hover {
  color: var(--linkColorLightHover);
}

:global(.association-kk) .panel {
  background: var(--secondaryColor);
  color: var(--textColorDarkish);
  border: 0;
}

:global(.association-kk) .panel h1,
:global(.association-kk) .panel h2,
:global(.association-kk) .panel h3 {
  color: var(--textColorDarkish);
}

:global(.association-kk) .panel a {
  color: var(--linkColorSecondary, var(--linkColor, var(--linkColorDark)));
}

:global(.association-kk) .panel a:hover {
  color: var(--linkSecondaryHover, var(--linkColorDarkHover));
}
