.panel {
  margin: 20px 2vw;
  background: var(--theme-content-bg);
  border: 0;
  border-radius: var(--defaultRadius);
  padding: var(--defaultPadding);
  color: var(--theme-content-text);
}

.panel h1,
.panel h2,
.panel h3 {
  color: var(--theme-hero-text-color);
}

.panel a {
  color: var(--theme-panel-link);
}

.panel a:hover {
  color: var(--theme-panel-link-hover);
}