
/* Overlay */

.overlay {
    font-family: "Chakra Petch", sans-serif;
    display: none;
    background-color: black; /* Black background with opacity */
    padding: 5rem 2rem 2rem 2rem;
    font-size: 2vw;
    color: white;
    position: fixed;
    height: 96vh;
    top: 2vh;
    right: 2vh;
    text-align: center;
    line-height: 2em;
    animation: moveInRight .5s;
    z-index: 10;
    box-shadow: -2px -2px 10px white;
}

.overlay h3{
    padding-bottom: 2rem;
    border-bottom: 2px solid white;
}

.overlay a {
    text-decoration: none;
    color: white;
    font-family: "Chakra Petch", cursive;
    display: block;
}
.overlay a:hover {
    text-shadow: 0 0 10px white;
}
.overlay a:first-child{
}


/* KEYFRAMES */

@keyframes
moveInRight{
    0%{
        transform: translateX(100%) scaleY(0) translateY(100%);
    }
    100%{
        transform: translateX(0) scaleY(1);
    }
}
