{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ article.title }}{% endblock %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'news/css/article.css' %}">
    </head>
    <div class="container-md container-margin-top min-vh-100">
        <div class="container-size break-words">
            {% for article in articles %}
                <div class="content overflow-auto">
                    <h1>{{ article.title }}</h1>
                    <h4>{% trans "Skriven " %}{{ article.published_time }}{% trans " av " %}
                        <a href="{% url "news:author" article.author %}">
                            {% if article.author.get_full_name != " " %}{{ article.author.get_full_name }}{% else %}
                                {{ article.author }}{% endif %}</a></h4>
                    {{ article.content | safe }}
                </div>
                {% empty %}
                    <h1>{% trans "Inga artiklar, ännu" %}</h1>
            {% endfor %}
        </div>
    </div>
{% endblock %}
