{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Nyheter{% endblock %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'news/css/style.css' %}">
    </head>
    <div class="container-md container-margin-top min-vh-100">
        <div class="container-size break-words">
            {% if latest_news_items.0.albins_angels == True %}
                <div class="aa-img"><img src="{% static 'images/albins-angels.png' %}"/></div>
            {% endif %}
            {% for news_item in latest_news_items %}
                <div class="content overflow-auto">
                    <a href="
                    {% if news_item.albins_angels == True %}
                        {% url 'news:aa_detail' news_item.slug %}
                    {% else %}
                        {% url 'news:detail' news_item.slug %}
                    {% endif %}
                        ">
                        <h2>{{ news_item.title }}</h2>
                    </a>
                    <h4 class="help-text">{{ news_item.author }}, {{ news_item.published_time }}</h4>
                    <div>
                        {{ news_item.content | safe | truncatewords_html:"50" }}
                    </div>

                    {% if news_item.content|wordcount > 50 %}
                        <a href="
                        {% if news_item.albins_angels == True %}
                            {% url 'news:aa_detail' news_item.slug %}
                        {% else %}
                            {% url 'news:detail' news_item.slug %}
                        {% endif %}
                            ">
                            <p class="more-button">{% trans 'Läs mera...' %}</p>
                        </a>
                    {% endif %}
                </div>
                {% empty %}
                    <h4>{% trans "Inga nyheter, ännu" %}</h4>
            {% endfor %}
        </div>
    </div>
{% endblock %}
