{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Nyheter{% endblock %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'news/css/style.css' %}">
    </head>
    <div class="container">
    <div class="news-grid">
        {% for news_item in latest_news_items %}
            <div class="news">
                <a href="{% url 'news:detail' news_item.slug %}"><h2>{{ news_item.title }}</h2></a>
                <h4>{{ news_item.author }}, {{ news_item.published_time }}</h4>
                <div class="news-content">
                    <p>{{ news_item.content | safe | truncatewords_html:"25" }}</p>
                </div>
                {% if news_item.content|wordcount > 25 %}
                    <a href="{% url 'news:detail' news_item.slug %}"><p class="more-button">{% trans 'LÄSA MERA' %}</p></a>
                {% endif %}
            </div>
                    {% empty %}
                <h4>{% trans "Inga nyheter, ännu" %}</h4>

        {% endfor %}
    </div>
    </div>
{% endblock %}
