* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.enlarge {
    position: relative;
    height: 100%;
    width: 100vw;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* pagination */
.center {
  text-align: center;
}

.pagination {
  display: inline-block;
  margin-top: 30px;
}

.pagination a {
  color: var(--secondaryColorDarker);
  background-color: var(--primaryColorLighter);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination .disabled{
  border: 0;
}

.pagination a.active {
  color: white;
  border: 1px solid var(--linkColorSecondary);
}

.pagination a:hover:not(.active, .disabled) {background-color: var(--primaryColorLight);}


@media only screen and (min-width: 768px) {
  .grid-sizer,
  .grid-item { 
      width: 24.2%;
  }

  .grid img{
    max-height: 70vh;
  }
}