
.form-group{
    margin-bottom: 5px;
}

table tbody{
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    color: var(--textColorLightish);
}
  
.even{
    background-color: var(--primaryColorLighter);
}

.odd{
    background-color: var(--primaryColorLight);
}