#logo {
    color: var(--secondaryColor) !important;
}
#logo:hover {
    text-decoration: none;
}

.container-soft{
    font-family: 'Josefin Sans', sans-serif;
}

.nav-bar a:hover {
    color :var(--secondaryColor);
    text-decoration: none;
}

.hero-text-box {
    min-height: 20vh;
    text-align: center;
}
.hero-text-main {
    padding-bottom: 1rem;
    display: inline-block;
    border-bottom: solid 1px var(--secondaryColor);
}

#picture-count {
    margin-left: 3rem;
    text-align: right;
}

.collection-frame {
    padding: 0 2rem;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}
.collection-item {
    text-align: center;
}

li.collection-item img {
    height: auto;
    width: 100%;
}

.collection-item img:hover {
    border: solid 1px var(--secondaryColor);
}

.collection-item:hover a {
    color: rgb(48, 48, 48);
}

.filter-form {
    margin: 1rem 4rem;
}
.custom-table-container {
    margin: 0 4rem;
}
.pagination {
    padding-left: 2rem !important;
}


@media only screen and (max-width: 1000px) {

    .collection-frame {
        padding: 0 2rem;
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 700px) {

    .collection-frame {
        padding: 1rem;
        display: block;
    }
    .filter-form {
        margin: 1.5rem;
    }
    .custom-table-container {
        margin: 0;
    }

    .pagination{
        padding-left: 0;
    }

}