.back-btn a {
    background-color: var(--secondaryColor);
    border-radius: var(--defaultRadius);
    padding: 5px;
}

.card {
    transition: .3s;
}

.card:hover {
    transform: scale(1.01);
}

.card .fa-chevron-right{
    transition: .3s;
}

.card:hover .fa-chevron-right{
    transform: translateX(10px);
}

  /* Masonary image gallery */
.grid {
    margin: 0 auto;
    max-width: 100%;
  }

/* fluid 5 columns */
.grid-sizer,
.grid-item { 
    width: 97%;
    margin: 5px;
    text-align: center;
}

.grid-item .card{
    background: var(--secondaryColor);
    border-radius: var(--defaultRadius);
    width: 100% !important;
}

@media only screen and (min-width: 768px) {
    .grid-sizer,
    .grid-item { 
        width: 32.5%;
    }
}