h1 {
    text-align: center;
}

img {
    width: 100%;
}

/*
    Enlarge picture
 */


.enlarge{
    padding: 1000px;
    background-color: rgba(40,40,40,0.8);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: fit-content;
    width: auto;
    max-width: 90vw;
    max-height: 95vh;
}
.enlarge .gallery-item {
    height: fit-content;
}

/*
    INDEX
 */
.container-soft{
    background-color: var(--primaryColor);
    padding: 10vh 5vw;
    min-height: 100vh;
    color: var(--secondaryColor);
}

.collection_box{
    margin: 1rem .2rem .2rem .2rem;
    padding: .5rem;
    display: inline-block;
    text-align: center;
    transition: 0.2s ease-in-out;
}
.collection_box:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}
.collection_box:hover img {
    box-shadow: 0 0 3px 2px var(--secondaryColorDarker);
}


.preview_img{
    max-height: 250px;
    max-width: 250px;
    border-radius: 0.5rem;
}

/*
    DETAILS
 */

/* Create four equal columns that sits next to each other */
.gallery-item {
    height: 33vh;
    width: auto;
}