/* Root colors */
/* use with var(--color); included in base.html*/

:root {
    --primaryColor: #000;
    --primaryColorLighter: #202020;
    --primaryColorLight:#505050;
    --secondaryColor: #fff;
    --secondaryColorDarker: #eaeaea;
    --helpText: #888;
}
