/* Root colors */
/* use with var(--color); included in base.html*/

:root {
    --primaryColor: #000;
    --primaryColorLight:  #202020;
    --primaryColorLighte:#3d3d3d;
    --primaryColorLighter:#505050;
    --primaryColorTransparent: rgba(0,0,0,0.9);
    --primaryColorTransparenter: rgba(0,0,0,0.8);
    --secondaryColor: #fff;
    --secondaryColorDarker: #eaeaea;
    --textColorLight: #fff;
    --textColorLightish: #eaeaea;
    --textColorDark: #000;
    --textColorDarkish: #202020;
    --helpText: #888;
    --helpTextLighter: rgb(199, 199, 199);
    --linkColorDark: #3a80c3;
    --linkColorDarkHover: #3a80c3;
    --linkColorLight: rgb(208, 255, 0);
    --linkColorLightHover: rgb(146, 179, 0);
    --warning: rgb(216, 153, 146);
    --defaultPadding: 20px;
    --defaultRadius: 5px;
}
