/* Root colors */
/* use with var(--color); included in base.html*/

:root {
    --primaryColor: rgb(10, 140, 65);
    --primaryColorLighter: rgb(10, 170, 77);
    --primaryColorLight:#2a693d;
    --secondaryColor: #fff;
    --secondaryColorDarker: #e0e0e0;
    --helpText: #888;
    --helpTextLighter: rgb(199, 199, 199);
    --linkColor: rgb(44, 148, 96);
    --warning: rgb(216, 153, 146);
}
