/* Homepage for Biocum */

/* Main */

/* Header */

.header {
    color: var(--textColorLight);
    background-color: var(--primaryColor);
    height: 50vh;
}

.hero-text-box {
    text-align: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 60%)scale(.7);
            transform: translate(-50%, 60%)scale(.7);
    padding-top: 10vh;
}
.hero-text-box .text {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-animation: fadeIn 3s;
            animation: fadeIn 3s;
}

.scaling-svg-container {
    margin-top: 55px;
        position: relative; 
        height: 35vh; 
        width: 100%; 
        padding: 0;
        /* override this inline for aspect ratio other than square */
   }

.scaling-svg-container svg {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    left: 0; 
    top: 0;
}

.header path {
    stroke: var(--secondaryColor);
    fill: var(--secondaryColor);
    stroke-dasharray: 25000;
    opacity: 10;
    fill-rule: evenodd;
    animation: animate 3.5s cubic-bezier(0,.18,.50,.1);
}

.hero-text-box path {
    stroke: var(--secondaryColor);
    fill: var(--secondaryColor);
    stroke-dasharray: 25000;
    opacity: 10;
    -webkit-animation: animate 3s cubic-bezier(0,.18,.64,.1);
            animation: animate 3s cubic-bezier(0,.18,.64,.1);
}

/* Albin animation */
@-webkit-keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 25000;
    }
    40% {
        opacity: 10;
        fill: none;
        stroke-dashoffset: 15000;
    }
    80% {
        fill: rgba(255,255,255,0);

    }
    100% {
        opacity: 10;
        fill: rgba(255,255,255,1);
        stroke-dashoffset: 0;
    }
}
@keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 25000;
    }
    40% {
        opacity: 10;
        fill: none;
        stroke-dashoffset: 15000;
    }
    80% {
        fill: rgba(255,255,255,0);

    }
    100% {
        opacity: 10;
        fill: rgba(255,255,255,1);
        stroke-dashoffset: 0;
    }
}

.hero-text-main {
    text-transform: uppercase;
    padding-top: 5vh;
    display: block;
    padding: 0;
    margin-bottom: 0;
    font-size: 4rem;
    font-weight: 400;
    -webkit-animation: fadeIn 3s;
            animation: fadeIn 3s;
    text-align: center;
}

.hero-text-sub {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    -webkit-animation: fadeIn 4.5s ease-in;
            animation: fadeIn 4.5s ease-in;
}

/*About content*/

.about{ 
    background-color: var(--secondaryColor);
    color: var(--textColorDark);
    min-height: 35vh;
    border-radius: var(--defaultRadius);
    padding: 20px;
}

/*NEWS-EVENTS*/

.news-events {
    color: var(--textColorDark);
    margin-top: 2vh;
    background: linear-gradient(180deg, var(--secondaryColorDarker) 0%, var(--secondaryColor) 100%);
    min-height: 100vh;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    border-radius: 5px;
}

.section-title p{
    text-align: center;
    font-weight: 500;
    line-height: 2.2;
    color: #878787;
}

/*News start*/

.main-container{
    display: grid;
    grid-template-columns: 1fr 850px 350px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      ". news sidebar ."
      ". news sidebar ."
      ". ig-scroll ig-scroll .";   
    grid-column-gap: 3vw;
}

.text-size{
    font-weight: bold;
}

.feed-container{
    grid-area: news;
}

.news-container{
    display: grid;
    grid-row-gap: 1vh;
    padding-bottom: 10px;
}

.news-box{
    background-color: var(--secondaryColor);
    padding: 10px;
    border-radius: 5px;
}

.news-content img{
    max-height: 30vh;
    max-width: 100%;
    /* keep img ratio correct */
    width: auto !important;
    height: auto !important;
    border-radius: 3px;
}

.news-date{
    color: var(--helpText);
}

div.news-content a{
    display: inline-block;
    color: var(--linkColor);
}

div.news-content a:hover{
    color: var(--linkColorHover);
}

.more-news{
    color: var(--linkColor);
}

.more-news:hover{
    color: var(--linkColorHover);
}

.news-header{
    position: relative;
}

.aa-img {
    background-color:transparent;
    width:35px;
    height:35px;
    border-radius:50px;
    box-shadow: 0 0 6px 2px rgb(201, 115, 142);
    -webkit-animation: pulse 2s linear 1s infinite;
    animation: pulse 2s linear 1s infinite;
    position: absolute;
    left: 95%;
    bottom: 0%;
  }


.aa-img img{
    max-width: 100%;
    border-radius: 20px;
    -webkit-filter: saturate(45%); /* Safari 6.0 - 9.0 */
    filter: saturate(45%);
}

@-webkit-keyframes pulse {
    0% { box-shadow:0 0 6px 2px rgb(201, 115, 142);}
    50% { box-shadow:0 0 14px 2px rgb(201, 115, 142);}
    100% { box-shadow:0 0 6px 2px rgb(201, 115, 142);}
}

@keyframes pulse {
    0% { box-shadow:0 0 6px 2px rgb(201, 115, 142); }
    50% { box-shadow:0 0 14px 2px rgb(201, 115, 142); }
    100% { box-shadow:0 0 6px 2px rgb(201, 115, 142); }
}
    

/*News end*/

/*Sidebar*/

.sidebar-container{
    grid-area: sidebar;
}

/*Event start*/

  
.card {
    border-radius: var(--defaultRadius);
  }
  
.card .fa-chevron-right{
    transition: .3s;
  }
  
.card a:hover .fa-chevron-right{
    transform: translateX(10px);
  }
  
.evet-card > .card .list-inline-item {
    color: var(--helpText);
    font-size: 14px;
  }
  
.evet-card > .card .badge {
    background: var(--badgeColor);
  }
  
.evet-card > .card {
    background: var(--secondaryColor);
  }
  
.evet-card a{
    color: var(--linkColor);
    border-top: 2px solid var(--linkColor);
  }
  
.evet-card a:active{
    color: var(--linkColor);
  }
  
.evet-card a:hover{
    background-color: inherit;
    color: var(--textColorDarkish);
  }
  
.evet-card a:focus{
    background-color: inherit;
    box-shadow: none;
  }

.chevron-box {
    margin: auto; 
    border: 1px solid var(--linkColorSecondary); 
    border-radius: 5px;
    padding: 5px;
}

.text-color {
    color: var(--textColorDark);
}

.card {
    box-shadow: 3px 3px 5px 0px rgba(133,133,133,1);
}

.card:hover {
    transform: scale(1.01);
}

.card:hover .fa-chevron-right{
    transform: translateX(10px);
  }

.events-container{
    display: block;
}

.mobile-events-container{
    grid-area: events;
    display: none;
    margin-bottom: 10px;
}

.events{
    display: grid;
    grid-row-gap: 10px;
}

.event-box{
    display: grid;
    /*background-color: var(--primaryColorLighter);*/
    background-color: var(--secondaryColor);
    color: var(--textColorDark);
    text-align: left;
    padding: 1px;
    -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
    transition: all 0.2s;
    border-top: var(--linkColor) solid 2pt;
    box-shadow: 3px 3px 5px 0px rgba(133,133,133,1);
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-radius: 5px;
}

.event-box:hover {
    color: var(--textColorLight);
    background-color: var(--primaryColorLighter);

}

.event-title{
    padding-top: 5px;
    margin: 5px;
    /*background-color: #c43628;*/
    border-radius: 3px;
    padding: 5px;
    
}

.event-date{
    padding-top: 5px;
    padding-left: 5px;
    border-left: 1px solid var(--primaryColorLight);
    margin: 5px;
}

.header-border-bottom{
    border-bottom: solid;
    border-width: 2px;
    border-color: var(--helpTextLighter);
}

.more-events-button{
    display: inline-block;
    color: var(--linkColor)
}

.more-events-button:hover{
    transition: 0.2s;
    scale: 1.01;
    color: var(--textColorDarkish);
}
/*Events end*/

/*Calendar*/
.calendar-container{
    display: grid;
    grid-template-columns: 0 1fr 0;
    grid-template-areas: 
    ". box ."
    ". calendar .";
    padding-bottom: 10px;
}

.calendar-box{
    grid-area: box;
    border: 2px solid rgb(163, 163, 163);
    border-radius: 5px;
    padding: 3px;
}

.calendar {
    grid-area: calendar;
    width: 100%;
    margin: auto;
    font-size: 13px;
}

.month{
    padding-top: 10px;
    margin: 0;
    text-align: center;
}

.day {
    border-bottom: 1px solid rgb(190, 190, 190);
}

.calendar td {
    padding: 10px 0px 0px 10px;
}
  
div.calendar-container a {
    color: var(--linkColor);
}

.left {
  float: left;
}

.right {
  float: right;
}

.cal-btn {
  outline: none;
  color: var(--textColorDark);
  background-color: transparent;
  box-shadow: 0 0 0 0;
}

.clearfix {
  padding: 10px;
  text-align: center;
}

/* Calendar tooltip */
.calendar-tooltip {
  position: relative;
  display: inline-block;
}

.calendar-tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: var(--primaryColor);
  color: var(--textColorLight);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.calendar-tooltip:hover .tooltiptext {
  visibility: visible;
}
/*Calendar end*/

/*logos start*/

.logo-container{
    display: block;
}

.mobile-logo-container{
    grid-area: logos;
    display: none;
}

.carousel-logos{
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    border-color: rgb(180, 180, 180);
}

div.carousel-logos {
    overflow: hidden;
  }

div.carousel-logos img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.company-logo img{
    max-height: 100px;
    max-width: 100%;
    /* keep img ratio correct */
    width: auto !important;
    height: auto !important;
}

/*logos end*/

/*Sidebar end*/

/* Generic animations*/

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*width responsiveness*/

@media screen and (max-width: 1400px){
    .main-container{
        grid-template-columns: 5vw 5fr 2fr 5vw;
    }
}

@media screen and (max-width: 991px){
    .main-container{
        grid-template-columns: 1vw 1fr 1vw;
        grid-template-areas: 
          ". events ."
          ". news ."
          ". logos ."
          ". ig-scroll .";   
    }

    .sidebar-container{
        display: none;
    }

    .mobile-events-container{
        display: block;
    }

    .mobile-logo-container{
        display: block;
    }

    .calendar-container{
        display: none;
    }

    .hero-text-box {
        -webkit-transform: translate(-50%, 65%)scale(0.45);
                transform: translate(-50%, 65%)scale(0.45);
    }
}

@media screen and (max-width: 800px) {

    .hero-text-box {
        -webkit-transform: translate(-50%, 55%)scale(0.40);
                transform: translate(-50%, 55%)scale(0.40);
    }
    .hero-text-main {
        font-size: 3rem;
    }

    .hero-text-sub{
        font-size: 1.5rem;
    }

    .hero-text-box .hero-text-sub {
        letter-spacing: 1rem;
    }
}

@media screen and (max-width: 550px) {

    .calendar-tooltip .tooltiptext {
        width: 0;
      }
    .calendar-tooltip:hover .tooltiptext {
        visibility: hidden;
      }

      .hero-text-box {
        -webkit-transform: translate(-50%, 55%)scale(0.35);
                transform: translate(-50%, 55%)scale(0.35);
    }

    .hero-text-box .hero-text-sub {
        letter-spacing: 1rem;
    }

    .albin {
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, -60%) scale(.3);
                transform: translate(-50%, -60%) scale(.3);
    }

    .aa-img {
        left: 85%;
      }
}