/* Homepage for DaTe */

/* Main */

/* Header */

.header {
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
    min-height: 45vh;
}

header .text > *{
    text-align: center;
    padding: 0;
}

.scaling-svg-container {
    margin-top: 55px;
        position: relative;
        height: 30vh;
        width: 100%;
        padding: 0;
        /* override this inline for aspect ratio other than square */
   }
.scaling-svg-container svg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.header path {
    stroke: var(--secondaryColor);
    fill: var(--secondaryColor);
    stroke-dasharray: 25000;
    opacity: 10;
    fill-rule: evenodd;
    animation: animate 3.5s cubic-bezier(0,.18,.50,.1);
}

/* Albin animation */
@keyframes animate {
    1% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 25000;
    }
    40% {
        opacity: 10;
        fill: none;
        stroke-dashoffset: 24500;
    }
    80% {
        fill: rgba(255,255,255,0);
        stroke-dashoffset: 23500;

    }
    100% {
        opacity: 10;
        fill: rgba(255,255,255,1);
        stroke-dashoffset: 0;
    }
}

.hero-text-main {
    text-transform: uppercase;
    padding-top: 5vh;
    display: block;
    margin-bottom: 0;
    font-size: 4rem;
    font-weight: 400;
    -webkit-animation: fadeIn 3s;
            animation: fadeIn 3s;
}
.hero-text-sub {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.1rem;
    -webkit-animation: fadeIn 4.5s ease-in;
            animation: fadeIn 4.5s ease-in;
}

/*NEWS-EVENTS*/

.news-events {
    color: var(--textColorDark);
    margin-top: 2vh;
    background: linear-gradient(180deg, var(--secondaryColor) 0%, rgb(214, 231, 214) 100%);
    min-height: 100vh;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    border-radius: 5px;
}

.section-title p{
    text-align: center;
    font-weight: 500;
    line-height: 2.2;
    color: #878787;
}

/*News start*/

.main-container{
    display: grid;
    grid-template-columns: 1fr 850px 350px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      ". news sidebar ."
      ". news sidebar ."
      ". ig-scroll ig-scroll .";
    grid-column-gap: 3vw;
}

.text-size{
    font-weight: bold;
}

.feed-container{
    grid-area: news;
}

.news-container{
    display: grid;
    grid-row-gap: 1vh;
    padding-bottom: 10px;
}

.news-box{
    background-color: var(--secondaryColor);
    padding: 10px;
    border-radius: 5px;
}

.news-content img{
    max-height: 30vh;
    max-width: 100%;
    /* keep img ratio correct */
    width: auto !important;
    height: auto !important;
    border-radius: 3px;
}

.news-date{
    color: var(--helpText);
}

div.news-content a{
    display: inline-block;
    color: var(--linkColor);
}

div.news-content a:hover{
    color: var(--textColorDarkish);
}

.more-news{
    color: var(--linkColor);
}

.more-news:hover{
    color: var(--textColorDarkish);
}

.news-header{
    position: relative;
}

.kk100-text a{
    color: #ffbb00 !important;
}

.kk100-text {
    background-color:transparent;
    width:50px;
    height:35px;
    text-shadow: 0 0 1px #ff9600;
    -webkit-animation: pulse 2s linear infinite;
    animation: pulse 2s linear infinite;
    position: absolute;
    left: 90%;
    bottom: 0%;
  }

@-webkit-keyframes pulse {
    0% { text-shadow:0 0 1px #ff9600;}
    50% { text-shadow:0 0 6px #ff9600;}
    100% { text-shadow:0 0 1px #ff9600;}
}

@keyframes pulse {
    0% { text-shadow:0 0 1px #ff9600; }
    50% { text-shadow:0 0 6px #ff9600; }
    100% { text-shadow:0 0 1px #ff9600; }
}
    

/*News end*/

/*Sidebar*/

.sidebar-container{
    grid-area: sidebar;
}

.sidebar-logo-container {
    margin-top: 0.5rem;
    max-width: 100%;
}

/*Event start*/

  
.card {
    border-radius: var(--defaultRadius);
  }
  
.card .fa-chevron-right{
    transition: .3s;
  }
  
.card a:hover .fa-chevron-right{
    transform: translateX(10px);
  }
  
.evet-card > .card .list-inline-item {
    color: var(--helpText);
    font-size: 14px;
  }
  
.evet-card > .card .badge {
    background: var(--primaryColorLighter);
  }
  
.evet-card > .card {
    background: var(--secondaryColor);
  }
  
.evet-card a{
    color: var(--linkColor);
    border-top: 2px solid var(--linkColor);
  }
  
.evet-card a:active{
    color: var(--linkColor);
  }
  
.evet-card a:hover{
    background-color: inherit;
    color: var(--textColorDarkish);
  }
  
.evet-card a:focus{
    background-color: inherit;
    box-shadow: none;
  }

.chevron-box {
    margin: auto; 
    border: 1px solid var(--linkColorSecondary);
    border-radius: 5px;
    padding: 5px;
}

.text-color {
    color: var(--textColorDark);
}

.card {
    box-shadow: 3px 3px 5px 0px rgba(133,133,133,1);
}

.card:hover {
    transform: scale(1.01);
}

.card:hover .fa-chevron-right{
    transform: translateX(10px);
  }

.events-container{
    display: block;
}

.mobile-events-container{
    grid-area: events;
    display: none;
    margin-bottom: 10px;
}

.events{
    display: grid;
    grid-row-gap: 10px;
}

.event-box{
    display: grid;
    /*background-color: var(--primaryColorLighter);*/
    background-color: var(--secondaryColor);
    color: var(--textColorDark);
    text-align: left;
    padding: 1px;
    -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
    transition: all 0.2s;
    border-top: var(--linkColor) solid 2pt;
    box-shadow: 3px 3px 5px 0px rgba(133,133,133,1);
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-radius: 5px;
}

.event-box:hover {
    color: var(--textColorLight);
    background-color: var(--primaryColorLighter);

}

.event-title{
    padding-top: 5px;
    margin: 5px;
    /*background-color: #c43628;*/
    border-radius: 3px;
    padding: 5px;
    
}

.event-date{
    padding-top: 5px;
    padding-left: 5px;
    border-left: 1px solid var(--primaryColorLight);
    margin: 5px;
}

.header-border-bottom{
    border-bottom: solid;
    border-width: 2px;
    border-color: var(--helpTextLighter);
}

.more-events-button{
    display: inline-block;
    color: var(--linkColor)
}

.more-events-button:hover{
    transition: 0.2s;
    scale: 1.01;
    color: var(--textColorDarkish);
}
/*Events end*/

/*Calendar*/
.calendar-container{
    display: grid;
    grid-template-columns: 0 1fr 0;
    grid-template-areas: 
    ". box ."
    ". calendar .";
    padding-bottom: 10px;
}

.calendar-box{
    position: relative;
    grid-area: box;
    border: 2px solid rgb(163, 163, 163);
    border-radius: 5px;
    padding: 3px;
}

.calendar {
    grid-area: calendar;
    width: 100%;
    margin: auto;
    font-size: 13px;
}

.month{
    padding-top: 10px;
    margin: 0;
    text-align: center;
}

.day {
    border-bottom: 1px solid rgb(190, 190, 190);
}

.calendar td {
    padding: 10px 0px 0px 10px;
}
  
div.calendar-container a {
    color: var(--linkColor);
}

.left {
  float: left;
}

.right {
  float: right;
}

.cal-btn {
  outline: none;
  color: var(--textColorDark);
  background-color: transparent;
  box-shadow: 0 0 0 0;
}

.clearfix {
  padding: 10px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}

/* Calendar tooltip */
.calendar-tooltip {
  position: relative;
  display: inline-block;
}

.calendar-eventday {
  /* Override vanilla calendar default
   * Dont use this class for anything else*/
  color: white !important;
  background-color: var(--linkColorDark) !important;
}

.calendar-eventday-popup {
  /* Override vanilla calendar default
   * Dont use this class for anything else*/
  color: black;
  font-size: 0.75rem;
}

/*Calendar end*/

/*logos start*/

.logo-container{
    display: block;
}

.mobile-logo-container{
    grid-area: logos;
    display: none;
}

.carousel-logos{
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    border-color: rgb(180, 180, 180);
}

div.carousel-logos {
    overflow: hidden;
  }

div.carousel-logos img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.company-logo img{
    max-height: 100px;
    max-width: 100%;
    /* keep img ratio correct */
    width: auto !important;
    height: auto !important;
}

/*logos end*/

/*Sidebar end*/

/*ig scroll*/

.ig-scroll{
    grid-area: ig-scroll;
    display: grid;
    grid-template-columns: 0 1fr 0;
    grid-template-rows: auto;
    grid-template-areas:
      ". ig-image .";
    padding-top: 2rem;
    padding-bottom: 2rem;
}

div.scroll-content img{
    max-height: 130px;
}

.scroll-content {
    grid-area: ig-image;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    min-height: 130px;
  }

  .images {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 35000px;
    animation: slideshow 60s linear infinite;
    transform: translate3d(0, 0, 0);
  }

  .scroll-content:hover .images {
    animation-play-state: paused;
  }

  .scroll-content img:hover{
    box-shadow: 4px 6px 9px 0px rgba(0,0,0,0.5);
    transition: .2s ease;
  }

  @keyframes slideshow {
    100% {
      -webkit-transform: translateX(-5%);
    }
  }

/* Generic animations*/

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*width responsiveness*/

@media screen and (max-width: 1400px){
    .main-container{
        grid-template-columns: 5vw 5fr 2fr 5vw;
    }
}

@media screen and (max-width: 991px){
    .main-container{
        grid-template-columns: 1vw 1fr 1vw;
        grid-template-areas:
          ". news ."
          ". sidebar ."
          ". ig-scroll .";
    }
    .text .hero-text-main {
        font-size: 2em;
    }

    .text .hero-text-sub {
        font-size: 1em;
        letter-spacing: 10px;
    }
}


@media screen and (max-width: 550px) {

    .calendar-tooltip .tooltiptext {
        width: 0;
      }
    .calendar-tooltip:hover .tooltiptext {
        visibility: hidden;
      }
}
