.home-page .about p,
.home-page .news-content p,
.home-page .extra-container p {
  text-align: left;
}

.home-page div.news-content a,
.home-page .more-news,
.home-page .extra-container a,
.home-page .logo-container a {
  color: var(--linkColor);
}

.home-page div.news-content a:hover,
.home-page .more-news:hover,
.home-page .extra-container a:hover,
.home-page .logo-container a:hover {
  color: var(--linkColorHover);
}

.home-page .header-border-bottom {
  border-style: none none solid none;
  border-width: 0 0 2px 0;
  border-color: var(--helpTextLighter);
}

.home-page .heading-link a {
  color: var(--textColorDark);
}

.home-page .heading-link a:hover {
  color: var(--textColorMedium);
}

.home-page .calendar {
  margin-bottom: 1rem;
}

.home-page .calendar-eventday {
  color: white !important;
  background-color: var(--linkColor) !important;
}

.home-page .calendar-eventday:hover {
  background-color: var(--linkColorHover) !important;
}

.home-page .calendar-eventday-popup {
  color: var(--linkColor);
  font-size: 0.75rem;
}

.home-page .calendar-eventday-popup:hover {
  color: var(--linkColorHover);
}