{% load i18n admin_urls %}
{% if cl %}
  {% url cl.opts|admin_urlname:"add" as add_url %}
  {% blocktranslate with name=cl.opts.verbose_name asvar title %}Add {{ name }}{% endblocktranslate %}
{% else %}
  {% url opts|admin_urlname:"add" as add_url %}
  {% blocktranslate with name=opts.verbose_name asvar title %}Add another {{ name }}{% endblocktranslate %}
{% endif %}
{% if add_url %}
  {% if cl.model_admin.show_add_link or adminform.model_admin.show_add_link %}
    <div class="flex flex-row items-center">
      <a href="{% add_preserved_filters add_url is_popup to_field %}"
         class="addlink bg-primary-600 flex font-medium gap-2 h-[38px] items-center justify-center px-3 rounded-default text-sm text-white whitespace-nowrap hover:bg-primary-600/80"
         aria-label="{{ title }}"
         title="{{ title }}">
        <span class="material-symbols-outlined text-base">add</span>
        <span>{{ title }}</span>
      </a>
    </div>
  {% endif %}
{% endif %}
