table {
    border-collapse: collapse;
}

.event-full{
    color: var(--helpText);
}

th {
    padding-bottom: 1rem;
}

th, td {
    text-align: left;
    padding: 8px;
}

th:first-child, td:first-child {
    border-radius: var(--defaultRadius) 0 0 var(--defaultRadius);
}

th:last-child, td:last-child {
    border-radius: 0 var(--defaultRadius) var(--defaultRadius) 0;
}

tr:hover {
    transition: 200ms;
    background-color: var(--primaryColorLighter);
}