/* Root colors */
/* use with var(--color); included in base.html*/

:root {
    --primaryColor: rgb(10, 140, 65);
    --primaryColorLight:#2a693d;
    --primaryColorLighte:#3b8b53;
    --primaryColorLighter: rgb(10, 170, 77);
    --linkColorDark: #3a80c3;
    --linkColorDarkHover: #26547f;
    --secondaryColor: #fff;
    --secondaryColorDarker: #e0e0e0;
    --luciaBackgroundColor: #960014;
    --primaryColorTransparent: rgb(10, 140, 65, 0.9);
    --primaryColorTransparenter: rgb(10, 140, 65, 0.8);
    --textColorLight: #fff;
    --textColorLightish: #eaeaea;
    --textColorDark: #000;
    --textColorDarkish: #202020;
    --textColorMedium: #606060;
    --helpText: #888;
    --helpTextLighter: rgb(199, 199, 199);
    --linkColor: rgb(44, 148, 96);
    --linkColorSecondary: rgb(10, 170, 77);
    --linkSecondaryHover: #2a693d;
    --linkColorLight: rgb(37, 240, 122);
    --linkColorLightHover: rgb(29, 185, 94);
    --warning: rgb(216, 153, 146);
    --warning-darker: rgb(213, 91, 78);
    --navClickHighlight: rgba(255, 255, 255, 0.25);
    --navHoverHighlight: rgba(255, 255, 255, 0.15);
    --defaultPadding: 20px;
    --defaultRadius: 5px;
}

/* KK Specific overrides */

/* From base.css */
.content img {
    max-height: 40vh;
}

div a {
    color: var(--linkColorSecondary);
}

div a:hover {
    color: var(--linkSecondaryHover);
}

.content {
    background-color: var(--secondaryColor);
    color: var(--textColorDarkish);
}

.theme-button {
    color: var(--textColorLight);
}

#table {
    --bs-table-bg: #f8f9fa;
    --bs-table-striped-bg: #ecedee;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #dfe0e1;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #e5e6e7;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #dfe0e1;
}

/* From event-card.css */
.event-card > .card .badge {
    background: var(--primaryColorLighter) !important;
}

.event-card > .card {
    background: var(--secondaryColor) !important;
}

.card-body a {
    color: var(--linkColor) !important;
    border-color: var(--linkColor) !important;
}

.card-body a:active {
    color: var(--linkColor) !important;
}

.card-body a:hover {
    color: var(--linkSecondaryHover) !important;
    border-color: var(--linkSecondaryHover) !important;
}

/* From events/css/style.css */
.content-past {
    background-color: var(--secondaryColor);
    padding: 5px;
    border-radius: var(--defaultRadius);
    margin: 5px;
}

.content-past h4 {
    margin: 0;
}

.card {
    color: var(--textColorDark);
}