{% load i18n %}
{% load app_filters %}
{% load localized_time %}
<div id="attendee-list" class="content {{ content_class }} attendee-list hidden" data-parent-slug="{{ event.parent.slug|default:'' }}">
    {% if event|show_attendee_list %}
        {% if event.sign_up_max_participants != 0 %}
            <p>{{ event.remaining_places|localized_remaining_places }}</p>
        {% endif %}
        <h1>{% trans "Anmälda" %}</h1>
        <table id="attendees">
            <tr id="attendees-header"
                {% if not event.get_registrations %} style="display: none;"
                {% endif %}>
                    <th>#</th>
                    <th>{% trans "Namn" %}</th>
                    {% for preference in event.get_registration_form_public_info reversed %}
                        <th>{{ preference }}</th>
                    {% endfor %}
            </tr>
            {% for attendee in event.get_registrations %}
                {% if strict_parent_capacity %}
                    <tr {% if forloop.counter > event.sign_up_max_participants and event.sign_up_max_participants != 0 and not event.parent %} class="event-full" {% endif %} >
                {% else %}
                    <tr {% if forloop.counter > event.sign_up_max_participants and event.sign_up_max_participants != 0 %} class="event-full" {% endif %} >
                {% endif %}
                    <td>{{ forloop.counter }}</td>
                    <td>{% if not attendee.anonymous %}{{ attendee.user }}{% else %}
                        <i>{% trans "Anonymt" %}</i>{% endif %}</td>
                    {% for preference in event.get_registration_form_public_info reversed %}
                        <td>{{ attendee | get_preference:preference }}</td>
                    {% endfor %}
                </tr>
            {% empty %}
                <p id="no-attendee">{% trans "Inga anmälda, var den första att anmäla dig!" %}</p>
            {% endfor %}
        </table>
    {% else %}
        <h4 id="no-attendee">{% trans 'Deltagarlistan har gömts eftersom det är ett gammalt evenemang, kontakta styrelsen vid behov.' %}</h4>
    {% endif %}
</div>
