.handelser {
    color: var(--textColorDark);
    text-shadow: 0 1px 4px rgba(255, 255, 255, 1.0);
}
.content-past {
    padding: 5px;
    border-radius: var(--defaultRadius);
    margin: 5px;
}

.content-past h4 {
    margin: 0;
}

.content-past,
.content-past h4 {
    color: #ffffff;
}

.content-past:hover,
.content-past:hover h4 {
    color: var(--accentColorBrightHover);
}

.card {
    color: var(--textColorDark);
}
