.content-past {
    padding: 5px;
    border-radius: var(--defaultRadius);
    margin: 5px;
}

.content-past h4 {
    margin: 0;
}

.content-past,
.content-past h4 {
<<<<<<< HEAD
    color: #6d28d9;
=======
    color: var(--accentColor);
>>>>>>> develop
}

.content-past:hover,
.content-past:hover h4 {
<<<<<<< HEAD
    color: #5b21b6;
=======
    color: var(--accentColorHover);
>>>>>>> develop
}

.card {
    color: var(--textColorDark);
}
