.content-past {
    padding: 5px;
    border-radius: var(--defaultRadius);
    margin: 5px;
}

.content-past h4 {
    margin: 0;
}

.content-past,
.content-past h4 {
    color: #6d28d9;
}

.content-past:hover,
.content-past:hover h4 {
    color: #5b21b6;
}

.card {
    color: var(--textColorDark);
}
