{% extends 'base.html' %}
{% load app_filters %}
{% load static %}
    {% block content %}
    <link rel="stylesheet" href="{% static 'archive/css/style.css' %}" type="text/css">
    <link rel="script" href="{% static 'archive/js/scripts.js' %}">
    <div class="container-soft">

        <h2>{{ collection.title }}</h2>
        <p>Published on {{ collection.pub_date_pretty }}</p>
        <p><a href="{% url 'archive:edit' collection.id %}">edit</a></p>
        {% if error_msg %}
            <p>{{ error_msg }}</p>
        {% endif %}
</div>

        <div class="picture-frame">
        <div class="column-frame">
        {% for picture in collection.picture_set.all %}
            <img id="picture-{{ forloop.counter }}" onclick="imageClick({{ forloop.counter }})" src="{{ picture.image.url }}" class="smaller-img">
            {% if forloop.counter|arrangePictures:collection.picture_set.count %}
                </div><div class="column-frame">
            {% endif %}
        {% endfor %}
            </div>
        </div>



        <script>
            function imageClick(id) {
               let element = document.getElementById("picture-" + id);
               element.classList.toggle("enlarge");
            }
        </script>
    {% endblock %}
