{% extends 'base.html' %}
{% load app_filters %}
{% load static %}
{% load i18n %}
    {% block content %}
    <link rel="stylesheet" href="{% static 'archive/css/detailed.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'archive/css/style.css' %}" type="text/css">
    <link rel="script" href="{% static 'archive/js/scripts.js' %}">

    <script src="https://kit.fontawesome.com/d9427d2408.js" crossorigin="anonymous"></script>
    <div class="container-soft">
        <div class="hero-text-box" id="page-header">
            <h1 class="hero-text-main">&nbsp; {{ album }} &nbsp;</h1>
            <h3>{% trans 'Publiserats' %} {{ collection.pub_date_pretty }}</h3>
            {% if error_msg %}
                <p>{{ error_msg }}</p>
            {% endif %}
            {% if request.user|in_group:"fotograf" or request.user|in_group:"styrelse"%}
                <p><a class="button" href="{% url 'admin:archive_picturecollection_change' album %}">{% trans 'editera' %}</a></p>
            {% endif %}
            <div class="hero-text-sub">
                <button class="btn" onclick="one()">1</button>
                <button class="btn active" onclick="two()">2</button>
                <button class="btn" onclick="four()">4</button>
            </div>
        </div>
        <div class="gallery" id="gallery">
            <div class="column" id="col0">
                {% for picture in pictures %}
                    <img id="picture-{{ forloop.counter }}" onclick="imageClick({{ forloop.counter }})" src="{{ picture.image.url }}">
                {% endfor %}
            </div>
        </div>
        {% if pictures.has_other_pages %}
        <div class="center">
            <div class="pagination">
                {% if pictures.has_previous %}
                <a href="?page={{ pictures.previous_page_number }}">&laquo;</a>
                {% else %}
                <a class="disabled">&laquo;</a>
                {% endif %}
                {% for i in pictures.paginator.page_range %}
                {% if pictures.number == i %}
                    <a class="active">{{ i }}</a>
                {% else %}
                    <a href="?page={{ i }}">{{ i }}</a>
                {% endif %}
                {% endfor %}
                {% if pictures.has_next %}
                <a href="?page={{ pictures.next_page_number }}">&raquo;</a>
                {% else %}
                <a class="disabled">&raquo;</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>

    <script>
        // Get the elements with class="column"
        let elements = document.getElementsByClassName("column");

        // Declare a loop variable
        let i;

        // Full-width images
        function one() {
            for (i = 0; i < elements.length; i++) {
            elements[i].style.msFlex = "100%";  // IE10
            elements[i].style.flex = "100%";
          }
        }

        // Two images side by side
        function two() {
          for (i = 0; i < elements.length; i++) {
            elements[i].style.msFlex = "50%";  // IE10
            elements[i].style.flex = "50%";
          }
        }

        // Four images side by side
        function four() {
          for (i = 0; i < elements.length; i++) {
            elements[i].style.msFlex = "25%";  // IE10
            elements[i].style.flex = "25%";
          }
        }

        // Add active class to the current button (highlight it)
        let header = document.getElementById("page-header");
        let btns = header.getElementsByClassName("btn");
        for (let i = 0; i < btns.length; i++) {
          btns[i].addEventListener("click", function() {
            let current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
          });
        }

        let images = $("#gallery img");
        let gallery = $("#gallery");
        if(images.length > 4){
            gallery.append("<div class=\"column\" id=\"col1\"></div>");
            gallery.append("<div class=\"column\" id=\"col2\"></div>");
            gallery.append("<div class=\"column\" id=\"col3\"></div>");

            for(i = 0; i<images.length; i++){
                let col = $("#col" + i%4);
                col.append(images[i]);
            }
        }else {
            $(".hero-text-sub").css("display", "none");
        }

        function imageClick(id){
            let elm = $("#picture-" + id);
            // TODO: Needs to be tested, but wont be done in WIP
            // elm.toggleClass("enlarge");
        }

    </script>
{% endblock %}
