{% extends 'base.html' %}
{% load app_filters %}
{% load static %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% block title %}{% trans 'Dokument arkiv' %}{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'archive/css/document.css' %}" type="text/css">
</head>
    <div class="container-md min-vh-100 container-margin-top p-1">
        <div class="container-size">
            <div class="content">
                <div class="hero-text-box">
                    <h1>{% trans "Dokumentarkiv" %}</h1>
                    {% if request.user|in_group:"styrelse"%}
                        <a class="btn btn-dark" href="{% url 'archive:upload' %}">{% trans 'Ladda upp dokument' %}</a>
                    {% endif %}
                </div>
                <div class="filter-form">
                    {% if filter %}
                        <form action="" method="get" class="form form-inline">
                            {% bootstrap_form filter.form layout='inline' %}
                            {% bootstrap_button 'filter' button_class="btn-dark" %}
                        </form>
                    {% endif %}
                </div>
                <div class="custom-table-container">
                    {% render_table table 'django_tables2/bootstrap.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

