{% extends 'base.html' %}
{% load app_filters %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Arkiv" %}{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'archive/css/style.css' %}" type="text/css">
</head>
    <div class="container-soft">
        <div class="hero-text-box">
        {% if type == 'pictures' %}
            <h1 class="hero-text-main">&nbsp; {% trans "Bild arkiv" %} &nbsp;</h1>
            {% if request.user|in_group:"fotograf" or request.user|in_group:"styrelse" %}
                <h3><a class="button" href="{% url 'archive:upload' %}"> Skapa nytt album</a></h3>
            {% endif %}
        {% endif %}

        </div>
        {% if collections %}
        <ul class="collection-frame">
            {% for collection in collections %}
                <li class="collection-item">
                    <a  href="{% url 'archive:detail' year collection.title %}">
                        {% if collection.title|length > 20 %}
                            <h4>{{ collection.title|slice:"20" }}...</h4>
                        {% else %}
                            <h3>{{ collection.title }}</h3>
                        {% endif %}
                        <img class="collection-img" src="{{ collection.get_first_picture.image.url }}">
                        <p>{{ collection.pub_date_pretty }}<span id="picture-count">{{ collection.get_file_count }} {% trans 'Bilder' %}</span></p>
                    </a>
                </li>
            {% endfor %}

        </ul>
        {% else %}
            <h3>{% trans "Inga arkiv hittades" %}</h3>
        {% endif %}
    </div>
{% endblock %}

