{% extends 'base.html' %}
{% load app_filters %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{% trans "Arkiv" %}{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'archive/css/style.css' %}" type="text/css">
</head>
    <div class="container-soft">
        <div class="collection-grid">
            <div class="hero-text-box">
                <h1 class="hero-text-main">&nbsp; {% trans "Bildarkiv" %} &nbsp;</h1>
                <div class="back-btn"><a href="{% url 'archive:years' %}"><i class="fas fa-chevron-left"></i> Tillbaka</a></div>
            </div>
            {% if collections %}
                <div class="grid">
                    {% for collection in collections %}
                        <div class="grid-sizer"></div>
                        <div class="grid-item">
                            <a  href="{% url 'archive:detail' year collection.title %}">
                                <div>
                                    {% if collection.title|length > 20 %}
                                        <h4>{{ collection.title|slice:"20" }}...</h4>
                                    {% else %}
                                        <h3>{{ collection.title }}</h3>
                                    {% endif %}
                                    <p>{{ collection.pub_date_pretty }} <span id="picture-count">{{ collection.get_file_count }} {% trans 'Bilder' %}</span></p>
                                </div>
                                {% thumbnail collection.get_first_picture "500" crop="center" as image %}
                                    <img class="gallery-image" src={{ image.url }}>
                                {% endthumbnail %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h3>{% trans "Inga arkiv hittades" %}</h3>
            {% endif %}
        </div>
    </div>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script>
    var $grid = $('.grid').imagesLoaded( function() {
    // init Masonry after all images have loaded
        $grid.masonry({
            itemSelector: '.grid-item',
            // use element for option
            columnWidth: '.grid-sizer',
            percentPosition: true
        });
    });
      </script>
{% endblock %}

