{% extends 'base.html' %}
{% load app_filters %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Ladda upp bilder" %}{% endblock %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'archive/css/style.css' %}" type="text/css">
    </head>
    <div class="container-md min-vh-100 container-margin-top">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ picture_form.as_p }}
        <button type="submit">Upload</button>
        </form>
        <p><a href="{% url 'archive:years' %}">Return</a></p>
    </div>
{% endblock %}

