{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% block title %}Password reset - Email sent{% endblock %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'members/style.css' %}">
    </head>
    <div style="padding-top: 1rem;">
        <div class="center-box">
          <p>
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
          </p>
          <p>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
          </p>
            <p><a class="pw-reset-button" href="{% url 'index' %}">{% trans 'Gå till Startsidan' %}</a></p>
        </div>
    </div>
{% endblock %}