{% extends 'base.html' %}
{% load static %}

{% load i18n %}
{% load static %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'members/style.css' %}">
    </head>
    <div style="padding-top: 1rem;">
        <div class="center-box">
            <p>
                Your password has been set. <br> You may go ahead and sign in now.
            </p>
            <p><a class="pw-reset-button" href="{% url 'members:login' %}">{% trans 'Logga in' %}</a></p>
        </div>
    </div>
{% endblock %}