{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Password change successful' %}{% endblock %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'members/style.css' %}">
    </head>
    <div style="padding-top: 1rem;">
        <div class="password-change-container"> <!-- Added a container div -->
            <div class="change-password-success">
                <h2>{% trans 'Password change successful' %}</h2>
                <p style="margin-top: 20px;">{% translate 'Your password was changed.' %}</p>
            </div>
        </div>
    </div>
{% endblock %}
