{% extends 'base.html' %}
{% load static %}

{% load i18n %}
{% load static %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'members/style.css' %}">
    </head>
    <div style="padding-top: 1rem;">
        <div class="center-box">
            <p>
                Your password has been set. <br> You may go ahead and <a href="{% url 'members:login' %}">sign in</a> now.
            </p>
        </div>
    </div>
{% endblock %}