{% extends 'base.html' %}
{% load static %}

{% load i18n %}
{% load static %}
{% block title %}{% trans 'Glömt lösenord' %}{% endblock %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'members/style.css' %}">
    </head>
    <div style="padding-top: 1rem;">
        <div class="center-box">
            <p>
                {% trans 'Ditt lösenord har updaterats' %}. <br> {% trans 'Du kan nu logga in som vanligt' %}
            </p>
            <p><a class="pw-reset-button" href="{% url 'members:login' %}">{% trans 'Logga in' %}</a></p>
        </div>
    </div>
{% endblock %}