{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% block title %}{% trans 'Glömt lösenord' %}{% endblock %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'members/style.css' %}">
    </head>
    <div class="reset-password-page">
      {% if validlink %}

        <div class="form big">
                <h2>{% trans 'Byt lösenord' %}</h2>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">{% trans 'Byt lösenord' %}</button>
            </form>
        </div>
        {% else %}
          <div class="center-box">
            <p>
                {% trans 'Denna länk är inte giltigt, det kan hända att länken redan använts. Vänligen fråga efter en ny länk.' %}
            </p>
          </div>
          {% endif %}
    </div>
{% endblock %}