/*NEWS-EVENTS*/

.news-events {
    color: var(--textColorDark);
    margin-top: 2vh;
    background: linear-gradient(180deg, var(--secondaryColor) 0%, rgb(214, 231, 214) 100%);
    min-height: 100vh;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    border-radius: 5px;
}

.section-title p{
    text-align: center;
    font-weight: 500;
    line-height: 2.2;
    color: #878787;
}

/*News start*/

.text-size{
    font-weight: bold;
}

.feed-container{
    grid-area: news;
}

.news-container{
    display: grid;
    grid-row-gap: 1vh;
    padding-bottom: 10px;
}

.news-box{
    background-color: var(--secondaryColor);
    padding: 10px;
    border-radius: 5px;
}

.news-content img{
    max-height: 30vh;
    max-width: 100%;
    /* keep img ratio correct */
    width: auto !important;
    height: auto !important;
    border-radius: 3px;
}

.news-date{
    color: var(--helpText);
}

div.news-content a{
    display: inline-block;
    color: var(--linkColor);
}

div.news-content a:hover{
    color: var(--linkSecondaryHover);
}

.more-news{
    color: var(--linkColor);
}

.more-news:hover{
    color: var(--linkSecondaryHover);
}

.news-header{
    position: relative;
}

@-webkit-keyframes pulse {
    0% { text-shadow:0 0 1px #ff9600;}
    50% { text-shadow:0 0 6px #ff9600;}
    100% { text-shadow:0 0 1px #ff9600;}
}

@keyframes pulse {
    0% { text-shadow:0 0 1px #ff9600; }
    50% { text-shadow:0 0 6px #ff9600; }
    100% { text-shadow:0 0 1px #ff9600; }
}
