/* NEW STUFF */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

:root {
    --opacityColor: rgba(227, 230, 209, 0.75);
    --backdropBlur:  blur(10px);
}

.hidden{
    display: none !important;
}

/* fade animations start*/
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
/* fade animations end */

.header-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-height: 15vh !important;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

.baal-header{
    text-align: center;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

.baal-nav{
    text-align: center;
    margin: 8px;
}

.baal-nav a{
    margin: 5px;
    padding: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    transition: .3s;
    box-shadow: 3px 3px 5px 0px rgba(133,133,133,1);
}

.baal-nav a:hover{
    background-color: var(--primaryColor);
    color: var(--secondaryColor) !important;
}

.text-content div, .container-form, .container-signed{
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

.alert-danger, .errorlist, .warning{
    color: rgb(201, 99, 88) !important;
}

footer{
    display: none;
}

.navbar{
    display: none;
}

form p label{
    font-family: 'Dancing Script', cursive !important;
}

form button {
    font-family: 'Dancing Script', cursive !important;
    background-color: var(--secondaryColor) !important;
    color: var(--primaryColor) !important;
}

form button:hover {
    background-color: var(--primaryColor) !important;
    color: var(--secondaryColor) !important;
}

.container-md{
    position: relative;
    padding-top: 10vh;
    min-height: 100vh;
    /*font-family: 'Carattere', cursive;*/
    font-family: 'Dancing Script', cursive;
    text-align: start;
    align-content: start;
    font-size: 1.3em;
    font-weight: bold;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vw 140vh;
    background-color: black;
    border-bottom: 3px solid var(--primaryColor);
}

.content{
    background-color: var(--opacityColor);
    backdrop-filter: var(--backdropBlur);
    -webkit-backdrop-filter: var(--backdropBlur);
    border-top: 2px solid var(--primaryColor);
    color: var(--textColorDark);
}

.event-full{
    color: gray;
}

th {
    padding-bottom: 1rem;
}

th, td {
    text-align: left;
    padding: 8px;
}
tr:hover {
    transition: 200ms;
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
}