:root {
    --lightSilver1: #f8f9fa;
    --lightSilver2: #e9ecef;
    --lightSilver3: #dee2e6;
    --lightSilver4: #ced4da;
    --silver: #adb5bd;
    --darkSilver1: #6c757d;
    --darkSilver2: #495057;
    --darkSilver3: #343a40;
    --darkSilver4: #212529;
    --loadingColor: var(--silver);
    /*--loadingErrorColor: var(--darkSilver1);*/
    --loadingErrorColor: rgba(213, 1, 58, 0.63);
}

html body {
    color: var(--lightSilver2);
    font-family: 'Josefin Sans', sans-serif;
}

nav, footer {
    display: none !important;
}

/*.event {*/
/*    border: 2px solid var(--lightSilver4);*/
/*    border-radius: 3px;*/
/*    color: var(--lightSilver2);*/
/*    padding: 10px;*/
/*    margin: 10px 0;*/
/*}*/

.loading-bar {
    background-color: var(--darkSilver4);
    border-radius: var(--defaultRadius);
    height: 50px;
    width: 100%;
    margin: 20px 0;
    border: 1px solid var(--lightSilver2);
}

.loading-bar div {
    height: 100%;
    display: inline-block;
}

.bar1 {
    width: 5%;
    height: 100%;
    background-color: var(--loadingColor);
    border-radius: var(--defaultRadius);
    animation: fadeIn 0.5s ease-in-out;
}

.bar2 {
    width: 5%;
    height: 100%;
    background-color: var(--loadingColor);
    border-radius: var(--defaultRadius);
    animation: fadeIn 1.5s ease-in-out;
}

.bar3 {
    width: 5%;
    height: 100%;
    background-color: var(--loadingColor);
    border-radius: var(--defaultRadius);
    animation: fadeIn 2s ease-in-out;
}

.bar4 {
    width: 5%;
    height: 100%;
    background-color: var(--loadingColor);
    border-radius: var(--defaultRadius);
    animation: fadeIn 2.5s ease-in-out;
}

.bar5 {
    width: 5%;
    height: 100%;
    background-color: var(--loadingColor);
    border-radius: var(--defaultRadius);
    animation: fadeIn 3s ease-in-out;
}

.bar-error {
    width: 5%;
    height: 100%;
    animation: fadeInQuick 3s ease-in-out;
}

.bar-6 {
    width: 100%;
    height: 100%;
    background-color: var(--loadingErrorColor);
    border-radius: var(--defaultRadius);
    animation: fadeIn 2.5s ease-in-out infinite;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInQuick {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#myPath {
    fill: none;
    animation: draw1 3s linear forwards; /* Adjust duration and timing function as needed */
    stroke: var(--lightSilver1);
    opacity: 1;
}

@keyframes draw1 {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 1000;
        stroke-dasharray: 5000; /* Change this value to match the length of your path */
        stroke: var(--silver);
    }
    40% {
        opacity: 1;
        fill: none;
        stroke-dashoffset: 2500;
        stroke-dasharray: 1000; /* Change this value to match the length of your path */
        stroke: var(--darkSilver2);
    }
    60% {
        stroke-dashoffset: 1000;
        stroke-dasharray: 2500; /* Change this value to match the length of your path */
        stroke: var(--lightSilver2);
    }

    80% {
        fill: rgba(255,255,255,0);
        stroke-dashoffset: 500;
        stroke-dasharray: 500; /* Change this value to match the length of your path */
        stroke: var(--loadingErrorColor);
    }
    100% {
        opacity: 1;
        fill: var(--lightSilver3);
        stroke-dashoffset: 0;
        stroke-dasharray: 0; /* Change this value to match the length of your path */
    }
}

.main-content {
    animation: fadeIn 3s cubic-bezier(1,0,0.95,-0.3);
}

.date {
    font-size: 5rem;
}

.age {
    font-size: 10rem;
    margin-bottom: 0;
}

.countdown {
    font-size: 3em;
}

.anmalan {
    font-size: 1em;
    margin-bottom: 10px;
}

.metallic {
    margin-bottom: 0;
    background-size: 110% 150%;
    background: radial-gradient(ellipse at center, var(--lightSilver2) 5%, var(--darkSilver2) 70%) center center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.5px;
}

.card-shine-effect {
    --shine-deg: 45deg;
    overflow: hidden;
    background-color: var(--lightSilver4);
    background-repeat: no-repeat;
    background-position: -100% 0, 0 0;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    background-image: linear-gradient(
    var(--shine-deg),
    transparent 20%,
    transparent 40%,
    var(--lightSilver1) 50%,
    var(--lightSilver1) 55%,
    transparent 70%,
    transparent 100%
  );

    background-size: 250% 250%, 100% 100%;
    animation: shine 4s ease infinite; /* Adjust duration and timing function as needed */
}

@keyframes shine {
    0% {
        background-position: -100% 0, 0 0;
    }
    50% {
        background-position: 200%0, 0 0;
    }
    100% {
        background-position: -100% 0, 0 0;
    }
}

svg.circuit-path {
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  z-index: -9;
  opacity: 0.15;
  height: 200%;
  width: auto;
}
.path {
  animation: draw 20s infinite;
  animation-timing-function: linear;
}
.path-01 {
  animation-delay: 0s;
}
.path-02 {
  animation-delay: 1s;
}
.path-03 {
  animation-delay: 2s;
}
.path-04 {
  animation-delay: 3s;
}
.path-05 {
  animation-delay: 4s;
}

@media screen and (min-width: 768px) {
  svg.circuit-path {
    height: auto;
    width: 200%;
  }
}

@keyframes draw {
  0% {
  }
  100% {
    stroke-dashoffset: 0;
    stroke-opacity: 1;
  }
}
