.container{
    background-color: var(--primaryColor);
    padding-top: 10vh;
    min-height: 100vh;
    color: var(--secondaryColor);
    font-family: 'Josefin Sans', sans-serif;
    text-align: start;
    align-content: start;
}

.container{
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: auto;
    grid-template-areas: 
      ". box ."
      ". signup .";     
      grid-row-gap: 50px;
}

.container-box{
    grid-area: box;
    display: grid;
    grid-template-columns: 80vw;
    grid-template-rows: auto;
    grid-template-areas: 
      "textstuff"
      "form";
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
}

.content-container{
    grid-area: textstuff;
    font-size: 5vw;
}

.form-container{
    grid-area: form;
    display: grid;
}

.signed-up{
    grid-area: signup;
    display: grid;
}

.text-size{
    font-size: 3vw;
}

.header{
    font-size: 8vw;
}

@media only screen and (min-width: 836px) {
 
    .container-box{
        grid-area: box;
        display: grid;
        grid-template-columns: 10vw 60vw 10vw;
        grid-template-rows: auto;
        grid-template-areas: 
          " . textstuff . "
          " . form . ";     
    }

    .text-size{
        font-size: 2vw;
    }

    .header{
        font-size: 3vw;
    }

    @media only screen and (min-width: 1237px) {
        .container-box{
            grid-area: box;
            display: grid;
            grid-template-columns: 10vw 60vw 10vw;
            grid-template-rows: auto;
            grid-template-areas: 
              " . textstuff . "
              " . form . ";     
        }

        .text-size{
            font-size: 1vw;
        }

        .header{
            font-size: 3vw;
        }
    }
}