.form p{
    margin-left: 1em;
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: .5em;
}
.form, p:nth-child(4) {
    margin-top: 2em;
}

.form p input[type=text],input[type=email], input[type=select] {
    padding: 3px;
    border-radius: 5px;
    width: 50vw;
    height: 3vh;
    font-size: 1.3em;
}
.form p select {
    display: block;
    font-size: 16px;
    font-weight: 700;
    padding: .6em 1.4em .5em .8em;
    color: var(--primaryColorLight);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid var(--primaryColorLight);
    box-shadow: 0 1px 0 1px rgba(255,255,255,0.4);
    border-radius: .5em;
}
.button{
    background-color: rgb(36, 36, 36);
    border: none;
    color: var(--secondaryColor);
    padding: 1.5vh 3vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
}
.button:hover{
    transition: 0.2s ease;
    background-color: rgb(48, 48, 48);
    color: var(--linkColor);
}

.button:active{
    background-color: #414141;;
}

.warning{
    color: rgb(208, 27, 27);
}

@media only screen and (min-width: 675px) {
    form p input{
        border-radius: 5px;
        width: 50vw;
        height: 3vh;
        font-size: 3vw;
    }
}

@media only screen and (min-width: 836px) {
    form p input{
        border-radius: 5px;
        width: 25vw;
        height: 3vh;
        font-size: 1.5vw;
    }


    .form p input[type=text],input[type=email], input[type=select] {
        width: 20vw;
    }
}

@media only screen and (min-width: 1237px) {
    input{
        border-radius: 3px;
    }
}