
.container{
    background-color: var(--primaryColor);
    padding-top: 10vh;
    min-height: 100vh;
    color: var(--secondaryColor);
    font-family: 'Josefin Sans', sans-serif;
    align-content: start;
    text-align: center;
}

/*GRID STUFF*/
.container{
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: auto;
    grid-template-areas: 
      ". header1 ."
      ". coming ."
      ". ended .";     
      grid-row-gap: 50px;
}

.container-box-coming{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 2vh;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    grid-area: coming;   
}

.container-box-coming-two{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2vh;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    grid-area: coming;   
}

.container-box-coming-one{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2vh;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    grid-area: coming;   
}

.event-coming{
    display: grid;
    grid-template-columns: 4fr 250pt 4fr;
    grid-template-rows: 110pt 20pt;
    grid-template-areas:
    ". title ."
    ". date . ";
}

.heading{
    grid-area: header1;
}

/*Headers*/
h1{
    font-size: 25pt;
}
h2{
    font-size: 15pt;
}
h3{
    font-size: 10pt;
}

.event-text{
    font-size: 9pt;
}

.content{
    color: rgb(208, 255, 0);
}

.title{
    grid-area: title;
    background-color: var(--primaryColorLighter) ;
    border-radius: 5px;
    text-align: center;
}

.btn{
    -webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
    transition: ease 0.2s;
    border: 1.5px solid rgb(66, 66, 66);
    overflow: hidden;
}

.btn:after {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
    transition: all 0.2s;
}

.btn:active {
	border-color: #b6b6b6;
	color: #c0c0c0;
}

.btn:hover {
    background-color: #414141;
    color: rgb(129, 146, 55);
}

.text-center{
    place-self: center;
    margin: 5px;
    vertical-align: middle;
}

/*Actual date, not DaTe*/
.date{
    grid-area: date;
    background-color: var(--primaryColorLighter);
    border-radius: 5px;
    display: grid;
    text-align: center;
    border-bottom: solid var(--primaryColorLight) 1px;
}

.container-box-ended {
    grid-area: ended;
}

.event-title{
    margin: 10px;
    border-bottom: solid 1px rgb(204, 204, 204);
}
.event-title-ended{
    transition: ease color 0.2s;
    margin: 10px;
}

.content-ended{
    color: rgb(208, 255, 0);
}

.content-ended:hover{
    color: rgb(65, 73, 22);
}
@media only screen and (max-width: 1450px) {
    .container-box-coming{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 960px) {
    .container{
        grid-template-columns: 2vw 96vw 2vw;
    }
    .container-box-coming{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 690px) {

    .container{
        display: grid;
        grid-template-columns: 5vw 10vw 5vw;
        grid-template-rows: auto;
        grid-template-areas: 
          ". header1 ."
          ". coming ."
          ". ended .";     
    }

    .event-coming{
        display: grid;
        grid-template-columns: 90vw;
        grid-template-rows: 100pt 20pt;
        grid-template-areas:
        "title"
        "date";
    }
    
    .container-box-coming{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 2vh;
        word-break: break-all;
        word-break: break-word;
        hyphens: auto;
        grid-area: coming;   
    }

    .container-box-coming-two{
        grid-template-columns: 1fr;
    }

    h1{
        font-size: 25pt;
    }

    h2{
        transition: color 0.2s ease;
        font-size: 13pt;
    }
    
    h3{
        font-size: 10pt;
    }
  }
  