{% extends 'staticpages/staticpage.html' %}

{% block extra_head %}
    {% with background_image_url=page.background_image_url %}
    {% if background_image_url %}
        <style>
            body {
                background: url("{{ background_image_url }}") no-repeat center center fixed;
                background-size: cover;
            }
            footer.association-footer {
                background-color: var(--primaryColor);
            }
        </style>
    {% endif %}
    {% endwith %}
{% endblock %}
