{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% load cache %}

{% block title %}Nyheter{% endblock %}
{% cache 60 news_index LANGUAGE_CODE %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'news/css/style.css' %}">
    </head>
    <div class="container-md container-margin-top min-vh-100 p-1">
        <div class="container-size break-words">
            {% if latest_news_items.0.category.name == "Albins Angels" %}
                <div class="aa-img"><img src="{% static 'core/images/albins-angels.png' %}"/></div>
            {% endif %}
            {% for news_item in latest_news_items %}
                <div class="content overflow-auto">
                    <a href="
                    {% if news_item.category %}
                        {% url 'news:detail' news_item.category.slug news_item.slug %}
                    {% else %}
                        {% url 'news:detail' news_item.slug %}
                    {% endif %}
                        ">
                        <h2>{{ news_item.title }}</h2>
                    </a>
                    <h4 class="help-text">{{ news_item.author }}, {{ news_item.published_time }}</h4>
                    <div>
                        {{ news_item.content | safe | truncatewords_html:"50" }}
                    </div>

                    {% if news_item.content|wordcount > 50 %}
                        <a href="
                        {% if news_item.category %}
                            {% url 'news:detail' news_item.category.slug news_item.slug %}
                        {% else %}
                            {% url 'news:detail' news_item.slug %}
                        {% endif %}
                            ">
                            <p class="more-button">{% trans 'Läs mera...' %}</p>
                        </a>
                    {% endif %}
                </div>
                {% empty %}
                    <h4 class="text-center">{% trans "Inga nyheter hittades..." %}</h4>
            {% endfor %}
            {% if latest_news_items.has_other_pages %}
                <div class="center">
                    <div class="pagination">
                        {% if latest_news_items.has_previous %}
                            <a href="?page={{ latest_news_items.previous_page_number }}">&laquo;</a>
                        {% else %}
                            <a class="disabled">&laquo;</a>
                        {% endif %}
                        {% for i in latest_news_items.paginator.page_range %}
                            {% if latest_news_items.number == i %}
                                <a class="active">{{ i }}</a>
                            {% else %}
                                <a href="?page={{ i }}">{{ i }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if latest_news_items.has_next %}
                            <a href="?page={{ latest_news_items.next_page_number }}">&raquo;</a>
                        {% else %}
                            <a class="disabled">&raquo;</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% endcache %}
