{% extends "core/footer.html" %}
{% load static %}
{% load i18n %}

{% block footer_class_suffix %} pulterit-footer{% endblock %}
{% block footer_shell_class_suffix %} pulterit-footer-shell{% endblock %}
{% block footer_content_class_suffix %} pulterit-footer-content{% endblock %}
{% block footer_brand_class_suffix %} pulterit-footer-brand{% endblock %}
{% block footer_copy_class_suffix %} pulterit-footer-copy{% endblock %}

{% block footer_logo %}
<img class="footer-img img-fluid" alt="{% blocktranslate with association_name=ASSOCIATION_NAME_FULL trimmed %}{{ association_name }} logo{% endblocktranslate %}" src="{% static 'core/images/pulterit-white.svg' %}">
{% endblock %}
