{% load static %}
{%  load i18n %}

<head>
    <link rel="stylesheet" href="{% static 'core/css/footer.css' %}">
</head>

<footer class="container">
    <hr>
    <!-- Grid container -->
    <!-- Section: Social media -->
    <section class="col text-center">
    
        {% for btn in SOCIAL_BUTTONS %}
      
            <a class="btn btn-outline-light btn-floating m-1" href="{{ btn.1 }}" role="button"
                ><i class="fab {{ btn.0 }}"></i
            ></a>
            
        {% endfor %}
        
    </section>
    <!-- Section: Social media -->
    <div class="row align-middle align-items-center">
        <div class="col-4 text-center ">
            <img class="footer-img img-fluid" alt="Footer Logo" src="{% static "core/images/footerlogo.png" %}">
        </div>
        <div class="col-4">
            <p>
                <br>
                Styrelsen för {{ ASSOCIATION_NAME_FULL }} kan kontaktas på följande sätt.<br><br>
                {% trans 'E-post' %}:
                {{ ASSOCIATION_EMAIL }}
                <br>
                {{ ASSOCIATION_OFFICE_HOURS }}
            </p>
            <p> Adress: <br>
                {{ ASSOCIATION_ADDRESS_L1 }}<br>
                {{ ASSOCIATION_ADDRESS_L2 }}<br>
                {{ ASSOCIATION_POSTAL_CODE }}
            </p>
        </div>
    </div>
    <div class="text-center p-3">
        <a>
            Denna sida är skapad av&nbsp;
            <a href="https://datateknologerna.org/">  Datateknologerna vid Åbo Akademi rf</a>,
            vid tekniska frågor eller problem, kontakta <a href="mailto:kernel@datateknologerna.org">DaTes kernel</a>
        </a>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3">
        &copy {% now "Y" %}
    </div>
    <!-- Copyright -->
    <!-- Grid container -->
  </footer>