<div class="extra-container">
    <h3 class="mt-3 header-border-bottom">Annat</h3>
    <h5 class="heading-link"><a href="/social/harassment/">Trakasseriombud</a></h5>
    <p>Om du upplever trakasserier i samband med Demons verksamhet, vänligen <a href="{% url 'social:harassment' %}">rapportera</a>  detta via hemsidan. Vi tar alla former av trakasserier på allvar och kommer att vidta åtgärder för att upprätthålla en trygg och respektfull miljö för alla medlemmar.</p>
        <h5 id="joke-header">Joke</h5>
        <p id="joke-string"></p>
</div>
