{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{{page.title}}{% endblock %}

{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'lucia/css/style.css' %}" type="text/css">
</head>

<div class="container">
    <div class="container-content">
        <h1>Lucia - Kemistklubben vid Åbo Akademi</h1>
        <a class="candidates-button" href="{% url 'lucia:candidates' %}"><h2>Kandidaterna</h2></a>
        <img class="lucia-img" src="{% static 'images/luciapic.png' %}" alt="lucia">
        <h1 class="lucia-text">Sankta Lucia, ljusklara hägring,

            sprid i vår vinternatt ljus av din fägring.
            
            // Drömmar med vingesus, undret oss sia,
            
            tänd dina vita ljus, Sankta Lucia. //
        </h1>

        <div class="snowflakes" aria-hidden="true">
            <div class="snowflake">
            ❅
            </div>
            <div class="snowflake">
            ❅
            </div>
            <div class="snowflake">
            ❆
            </div>
            <div class="snowflake">
            ❄
            </div>
            <div class="snowflake">
            ❅
            </div>
            <div class="snowflake">
            ❆
            </div>
            <div class="snowflake">
            ❄
            </div>
            <div class="snowflake">
            ❅
            </div>
            <div class="snowflake">
            ❆
            </div>
            <div class="snowflake">
            ❄
            </div>
        </div>
    </div>
</div>

{% endblock %}
