.container {
  display: grid;
  gap: 0.9rem;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  align-items: end;
}

.list {
  display: grid;
  gap: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
  align-items: center;
}
