.container{
    background-color: var(--luciaBackgroundColor);
    padding-top: 10vh;
    min-height: 90vh;
    font-family: 'Josefin Sans', sans-serif;
    align-content: start;
}

.header-bar{
    display: none;
}

footer{
    display: none;
}


.container img{
    max-height: 50vh;
    max-width: 100%;
    /* keep img ratio correct */
    width: auto !important;
    height: auto !important;
}