body{
    padding: 0;
}

ul{
    list-style: none;
}

li {
    list-style: none;

}

h1, h2, h3, h4 {
    margin: 0.2rem;
    text-align: center;
}

.collection_box{
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: #000 2px solid;
    display: inline-block;
}
.collection_box:hover{
    background-color: #eaeaea;
    transform: scale(1.1);
}

.preview_img{
    border-radius: 0.5rem;
}