{% autoescape off %}
    Bäste Alumn,
    

    Tack för din anmälan till {{ ALUMNI_ASSOCIATION_NAME }}! 

    För att slutföra processen, vänligen betala medlemsavgiften på 85 euro till: 

    Mottagare: Kemistklubben vid Åbo Akademi rf
    Kontonummer: FI38 6601 0001 0479 43
    BIC: AABAFI22
    Referens: {{ reference }}

    Efter att betalningen är gjord kommer du att bli tillagd i vårt medlemsregister. 

    Kom även ihåg att hålla dina kontaktuppgifter uppdaterade via {{ SITE_URL }} så att vi alltid når dig.

    Mvh,
    {{ ALUMNI_ASSOCIATION_NAME }}
    
    Detta är ett automatiskt meddelande och skall ej besvaras.

{% endautoescape %}