{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Användarinformation' %}{% endblock %}
{% block content %}
    <script>
    function toggleEdit() {
    var info = document.getElementById("userInfo");
    var edit = document.getElementById("editForm");
    info.style.display = (info.style.display === "none" ? "block" : "none");
    edit.style.display = (edit.style.display === "none" ? "block" : "none");
    }
    </script>
    <head>
        <link rel="stylesheet" href="{% static 'members/css/userinfo.css' %}" type="text/css">
    </head>
    <div class="container-md min-vh-100 container-margin-top">
        <div class="container-size">
            <div class="content">
                <!-- User Information Section -->
                <h3>{{ user.username }}</h3>
                <div id="userInfo">
                    <table class="table table-dark table-striped">
                        <tr>
                            <td>Email:</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td>Förnamn:</td>
                            <td>{{ user.first_name }}</td>
                        </tr>
                        <tr>
                            <td>Efternamn:</td>
                            <td>{{ user.last_name }}</td>
                        </tr>
                        <tr>
                            <td>Telefonnummer:</td>
                            <td>{{ user.phone }}</td>
                        </tr>
                        <tr>
                            <td>Adress:</td>
                            <td>{{ user.address }}</td>
                        </tr>
                        <tr>
                            <td>Zip kod:</td>
                            <td>{{ user.zip_code }}</td>
                        </tr>
                        <tr>
                            <td>Stad:</td>
                            <td>{{ user.city }}</td>
                        </tr>
                        <tr>
                            <td>Land:</td>
                            <td>{{ user.country }}</td>
                        </tr>
                        <tr>
                            <td>Medlems typ:</td>
                            <td>{{ user.get_str_membership_type }}</td>
                        </tr>
                        <!-- End of user information fields -->
                    </table>
                    <button onclick="toggleEdit()" class="theme-button">Edit</button>
                    <br>
                </div>
                <div id="editForm" style="display:none;">
                    <form method="post">
                        {% csrf_token %}
                        <table class="table table-dark table-striped">
                            <tr>
                                <td>Email:</td>
                                <td>{{ form.email }}</td>
                                {% if form.email.errors %}
                                    <div class="error">{{ form.email.errors.as_text }}</div>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>Förnamn:</td>
                                <td>{{ form.first_name }}</td>
                            </tr>
                                                    <tr>
                                <td>Efternamn:</td>
                                <td>{{ form.last_name }}</td>
                            </tr>
                            <tr>
                                <td>Telefonnummer:</td>
                                <td>{{ form.phone }}</td>
                            </tr>
                            <tr>
                                <td>Adress:</td>
                                <td>{{ form.address }}</td>
                            </tr>
                            <tr>
                                <td>Zip kod:</td>
                                <td>{{ form.zip_code }}</td>
                            </tr>
                            <tr>
                                <td>Stad:</td>
                                <td>{{ form.city }}</td>
                            </tr>
                            <tr>
                                <td>Land:</td>
                                <td>{{ form.country }}</td>
                            </tr>
                                <td>Medlems typ:</td>
                                <td>{{ user.get_str_membership_type }}</td>
                            </tr>
                        </table>
                        <button type="submit" class="theme-button">Save</button>
                        <button type="button" class="theme-button" onclick="toggleEdit()">Cancel</button>
                    </form>

                </div>

                <a href="{% url 'members:password_change' %}" class="theme-button">{% trans 'Password change' %}<i class="fas fa-chevron-right"></i></a>
                <a href="{% url 'members:functionary' %}" class="theme-button" style="margin-top: 5px;">Funktionärsposter <i class="fas fa-chevron-right"></i></a>
                <p style="margin-top: 5px">För att ändra ditt användarnamn eller e-post, kontakta styrelsen på date@abo.fi</p>
            </div>
        </div>
    </div>
{% endblock %}
