{% load i18n %}
<div class="extra-container">
    <h3 class="mt-3 header-border-bottom">{% trans "Annat" %}</h3>
    <h5 class="heading-link"><a href="/social/harassment/">{% trans "Trakasseriombud" %}</a></h5>
    <p>
        {% trans "Om du upplever trakasserier i samband med Datateknologernas verksamhet, vänligen" %}
        <a href="{% url 'social:harassment' %}">{% trans "rapportera" %}</a>
        {% trans "detta via hemsidan. Vi tar alla former av trakasserier på allvar och kommer att vidta åtgärder för att upprätthålla en trygg och respektfull miljö för alla medlemmar." %}
    </p>
        <h5 id="joke-header">{% trans "Joke" %}</h5>
        <p id="joke-string"></p>
</div>
