{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ ASSOCIATION_NAME_SHORT }} - {% blocktrans with title=object.title %}Närvaro för {{title}}{% endblocktrans %}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qr-scanner/1.4.2/qr-scanner.umd.min.js" integrity="sha512-a/IwksuXdv0Q60tVkQpwMk5qY+6cJ0FJgi33lrrIddoFItTRiRfSdU1qogP3uYjgHfrGY7+AC+4LU4J+b9HcgQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'attendance/js/detail.js' %}" defer></script>
{% endblock %}

{% block content %}

<div class="container-md min-vh-100 container-margin-top d-flex justify-content-center">
    <div class="container-size">
        <div class="content" style="width: fit-content">
            {% if can_see_overview %}
            <div>
                <a href="overview">{% trans "Till översiktsvyn" %}</a>
            </div>
            {% endif %}


            <div class="lh-1">
                <h2 class="header">{{ object.title }}</h2>
                <h5>{{ object.description }}</h5>
                <p></p>
                <p>
                    {% blocktrans trimmed with start=object.start_datetime %}
                    Börjar: {{ start }}
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed with end=object.end_datetime|default:"-" %}
                    Slutar: {{ end }}
                    {% endblocktrans %}
                </p>
            </div>

            {% if user.is_authenticated %}
            <p>{% trans "Du är" %}
                {% if is_present %}
                <span class="text-success">{% trans "närvarande" %}</span>
                {% else %}
                <span class="text-warning">{% trans "inte närvarande" %}</span>
                {% endif %}
            </p>
            {% endif %}


            <div>
                {% if generic_error %}
                <p class="warning">{{ generic_error }}</p>
                {% endif %}

                <form method="post">
                    {% csrf_token %}

                    {% if not user.is_authenticated %}
                    <div class="mb-3">
                        <label for="non_member_name">
                            {% trans "Du är inte inloggad. Fyll i ditt namn nedan om du inte har ett konto. Om du har ett konto var vänlig och logga in." %}
                        </label>
                        <div class="input-group">
                            <input
                                type="text"
                                class="form-control {% if non_member_name_error %} is-invalid {% endif %}"
                                id="non_member_name"
                                name="non_member_name"
                                value=""
                                placeholder="{% trans "Namn" %}"
                                required
                            >
                            {% if non_member_name_error %}
                            <div class="invalid-feedback">
                                {{ non_member_name_error }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}


                    <div class="mb-3">
                        <div class="input-group">
                            <input
                                type="text"
                                inputmode="numeric"
                                class="form-control {% if code_error %} is-invalid {% endif %}"
                                name="code"
                                id="code"
                                placeholder="{% trans "Kod" %}"
                                value="{{ prefilled_code }}"
                                required
                            >
                            <button class="btn btn-secondary" id="qr-scan" type="button" disabled>
                                <i class="bi bi-camera"></i> {% trans "Skanna QR-kod" %}
                            </button>
                            <button class="btn btn-danger" id="qr-scan-stop" type="button" hidden>
                                <i class="bi bi-stop"></i> {% trans "Sluta skanna" %}
                            </button>
                            {% if code_error %}
                            <div class="invalid-feedback">
                                {{ code_error }}
                            </div>
                            {% endif %}
                        </div>
                        <noscript>
                            <div class="form-text">{% trans "Tillåt JavaScript för att skanna QR-koder" %}</div>
                        </noscript>
                    </div>

                    <div id="qr-reader-div" hidden>
                        <video class="w-100" id="qr-reader"></video>
                    </div>
                    <div id="qr-reader-error" hidden></div>

                    <div class="input-group mb-3">
                        <button type="submit" class="btn btn-success" name="type" value="0"{% if user.is_authenticated and is_present %} disabled {% endif %}>
                            {% trans "Gå in" %}
                        </button>
                        <button type="submit" class="btn btn-warning" name="type" value="1" {% if user.is_authenticated and not is_present %} disabled {% endif %}>
                            {% trans "Gå ut" %}
                        </button>
                    </div>
                </form>
            </div>


            <div>
                <h2>{% trans "Närvarande" %}:</h2>
                <ul class="list-dashed">
                {% for a in object.present_attendees %}
                <li>{{a.get_full_name}}</li>
                {% endfor %}
                </ul>
            </div>

            {% if user.is_staff %}
            <div>
                <h2>{% trans "Närvaroändringar" %}</h2>
                <ul>
                {% for c in object.attendance_changes.all reversed %}
                    {% trans c.get_type_display context "left/entered in general" as type %}
                    <li>
                        {% blocktrans trimmed with name=c.attendee.get_full_name type_l=type|lower date=c.timestamp.date time=c.timestamp.time %}
                        {{ name }} {{ type_l }} den {{ date }} kl {{ time }}
                        {% endblocktrans %}
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
