.news-events {
    background: linear-gradient(180deg, var(--secondaryColorDarker) 0%, var(--secondaryColor) 100%);
}

div.news-content a {
    display: inline-block;
    color: var(--linkColorDark);
}

div.news-content a:hover {
    color: var(--linkColorDarkHover);
}

.more-news {
    color: var(--linkColorDark);
}

.more-news:hover {
    color: var(--linkColorDarkHover);
}

@keyframes shine {
    0% {
        background-position: -100% 0, 0 0;
    }
    50% {
        background-position: 200%0, 0 0;
    }
    100% {
        background-position: -100% 0, 0 0;
    }
}

.aa-img {
    background-color:transparent;
    width:35px;
    height:35px;
    border-radius:50px;
    box-shadow: 0 0 6px 2px rgb(201, 115, 142);
    -webkit-animation: pulse 2s linear 1s infinite;
    animation: pulse 2s linear 1s infinite;
    position: absolute;
    left: 95%;
    bottom: 0%;
}

.aa-img img {
    max-width: 100%;
    border-radius: 20px;
    -webkit-filter: saturate(45%);
    filter: saturate(45%);
}

@-webkit-keyframes pulse {
    0% { box-shadow:0 0 6px 2px rgb(201, 115, 142);}
    50% { box-shadow:0 0 14px 2px rgb(201, 115, 142);}
    100% { box-shadow:0 0 6px 2px rgb(201, 115, 142);}
}

@keyframes pulse {
    0% { box-shadow:0 0 6px 2px rgb(201, 115, 142); }
    50% { box-shadow:0 0 14px 2px rgb(201, 115, 142); }
    100% { box-shadow:0 0 6px 2px rgb(201, 115, 142); }
}
