{% load static %}
{%  load i18n %}

<head>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>

<footer class="container">
    <hr>
    <!-- Grid container -->
    <!-- Section: Social media -->
    <section class="col text-center">
    <!-- Facebook -->
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/HerrKanin/" target="_blank" role="button"
        ><i class="fab fa-facebook-f"></i
    ></a>

    <!-- Instagram -->
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/datateknologerna/" target="_blank" role="button"
        ><i class="fab fa-instagram"></i
    ></a>

    <!-- Linkedin -->
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/company/datateknologerna-vid-%C3%A5bo-akademi-rf/" target="_blank" role="button"
        ><i class="fab fa-linkedin-in"></i
    ></a>

    <!-- Github -->
    <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Datateknologerna-vid-Abo-Akademi" target="_blank" role="button"
        ><i class="fab fa-github"></i
    ></a>
    </section>
    <!-- Section: Social media -->
    <div class="row align-middle align-items-center">
        <div class="col-4 text-center ">
            <img class="img-fluid" alt="DaTe Logo" src="{% static 'images/albin_black.png' %}">
        </div>
        <div class="col-8">
            <p>
                {% trans 'Styrelsen för Datateknologerna vid Åbo Akademi rf kan kontaktas på följande sätt.' %}<br>
                {% trans 'e-post' %}:
                date[at]abo.fi
                <br>
            </p>
            <p> Adress: <br>
                Åbo Akademi, Agora<br>
                Vattenborgsvägen 5<br>
                20500 ÅBO
            </p>
        </div>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        &copy {% now "Y" %}
    </div>
    <!-- Copyright -->
    <!-- Grid container -->
  </footer>