{% load static %}
{%  load i18n %}

<head>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>

<footer class="container">
    <hr>
    <!-- Grid container -->
    <!-- Section: Social media -->
    <section class="col text-center">
    <!-- Facebook -->
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/kemistklubbenvidaboakademi/" role="button"
        ><i class="fab fa-facebook-f"></i
    ></a>

    <!-- Instagram -->
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/kemistklubben/" role="button"
        ><i class="fab fa-instagram"></i
    ></a>

    <!-- Linkedin -->
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/company/kemistklubben-vid-%C3%A5bo-akademi-rf/" role="button"
        ><i class="fab fa-linkedin-in"></i
    ></a>
    </section>
    <!-- Section: Social media -->
    <div class="row align-middle align-items-center">
        <div class="col-6 text-center ">
            <img class="footer-img img-fluid" alt="DaTe Logo" src="{% static 'images/axel.png' %}">
        </div>
        <div class="col-6">
            <p>
                {% trans 'Kemistklubben vid Åbo Akademi rf' %}<br>
                Aurum
                <br>
                Henriksgatan 2
                <br>
                20500 Åbo
                <br>
                Kanslitid Må - Ti 12-13
                <br>
                e-post: kk[at]abo.fi
            </p>
        </div>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3">
        &copy {% now "Y" %}
    </div>
    <!-- Copyright -->
    <!-- Grid container -->
  </footer>