{% load static %}
{%  load i18n %}
<footer>
    <head>
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    </head>
    <div id="footer-container">
        <div id="footer-img">
            <div class="img-container">
                <img alt="Date Logo" src="{% static 'images/stina.png' %}">
            </div>
        </div>
        <div class="footer-text">
            <p>
                {% trans 'Kemistklubben vid Åbo Akademi rf' %}
                <br>
                Aurum
                <br>
                Henriksgatan 2
                <br>
                20500 Åbo
                <br>
                Kanslitid Må - Ti 12-13
                <br>
                {% trans 'e-post' %}:
                kk[at]abo.fi
                <br>
            </p>
        </div>
    </div>
    <p id="copyright">&copy {% now "Y" %}</p>
</footer>