{% load static %}
{% load i18n %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/header.css" %}?version=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
</head>
<div class="header-bar">
    <a id="logo" href="{% url 'index' %}"><img class="header-logo" src="/static/images/albin_black.png" alt="Albin"></a>
    <div class="nav-bar">
        <div class="dropdown dropdown-hover">
            <a href="{% url 'events:index' %}">Evenemang</a>
        </div>
        <div class="dropdown dropdown-hover">
            <a href="{% url 'news:index' %}">Nyheter</a>
        </div>
        {% for category in categories %}    
            <div class="dropdown dropdown-hover">
                <li class="dropbtn dropbtn-height">
                    {{category.category_name}}
                </li>
                <div class="dropdown-content">
                    {% for page in pages %}
                        {% if page.category|lower == category.category_name|lower %}
                            <a href="{% url 'staticpages:page' page.slug %}">{{page.title}}</a>
                        {% endif %}
                    {% endfor %}
                    {% for page in urls %}
                        {% if page.category|lower == category.category_name|lower %}
                            {% if user.is_authenticated and page.url == "/members/login/" %}
                                <a href="/archive/pictures/">Bilder</a>
                                <a href="/archive/documents/">Dokument</a>
                                <a href="/members/info/">Min profil</a>
                                <a href="/admin/">Admin</a>
                                <a href="/members/logout/">Logga ut</a>
                            {% else %}
                                <a href="{{ page.url }}">{{page.title}}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="mobile-dropdown" class="mobile-dropdown"><button id="mobile-dropbtn" class="dropbtn mobile-btn-height"><i class="fas fa-bars"></i></button>
        <div id="mobile-group" class="mobile-nav-bar">
            <div class="mobile-nav-text">
                <div class="grid-container">
                    <div class="grid-space">
                        <li><a href="{% url 'index' %}">{% trans 'Startsidan' %} </a></li>
                        <li><a href="{% url 'events:index' %}">{% trans 'Evenemang' %} </a></li>
                        <li><a href="{% url 'news:index' %}">{% trans 'Nyheter' %} </a></li>
                        {% for category in categories %}    
                            <div id="mobile-nav-member" class="dropdown">
                                <li class="dropbtn">
                                    {{category.category_name}}
                                </li>
                                <div class="mobile-dropdown-content">
                                    {% for page in pages %}
                                        {% if page.category|lower == category.category_name|lower %}
                                            <a href="{% url 'staticpages:page' page.slug %}">{{page.title}}</a>
                                            <br>
                                        {% endif %}
                                    {% endfor %}
                                    {% for page in urls %}
                                        {% if page.category|lower == category.category_name|lower %}
                                            {% if user.is_authenticated and page.url == "/members/login/" %}
                                                <a href="/admin/">Admin</a>
                                                <br>
                                                <a href="/members/info/">Min profil</a>
                                                <br>
                                                <a href="/members/logout/">Logga ut</a>
                                                <br>
                                            {% else %}
                                                <a href="{{ page.url }}">{{page.title}}</a>
                                                <br>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#mobile-dropbtn').click(function() {
        let btn = $('#mobile-group');
        let btnChild = $("#mobile-dropbtn > i");
        let noscroll = $("#noscroll");
        let btnbg = $("#mobile-dropdown");
        if(btn.hasClass("show")){
            btn.css("display", "none");
            btn.removeClass("show");
            btnChild.removeClass("fa-times");
            btnChild.addClass("fa-bars");
            noscroll.removeClass("noscroll");
            btnbg.removeClass('mobile-dropdown-bg');
            $('#mobile-dropdown').css("background-color", "rgba(0,0,0,0)");
        }else {
            $('#mobile-dropdown').css("background-color", "rgba(0,0,0,0.8)");
            $('#mobile-dropbtn').css("background-color", "rgba(0,0,0,-0.6)");
            btn.css("display", "block");
            btn.addClass('show');
            btnChild.removeClass("fa-bars");
            btnChild.addClass("fa-times");
            noscroll.addClass("noscroll")
            btnbg.addClass('mobile-dropdown-bg');
        }
    });

    $('#mobile-group').click(function() {
        let btn = $('#mobile-group');
        let btnChild = $("#mobile-dropbtn > i");
        let noscroll = $("#noscroll");
        let btnbg = $("#mobile-dropdown");
        if(btn.hasClass("show")){
            btn.css("display", "none");
            btn.removeClass("show");
            btnChild.removeClass("fa-times");
            btnChild.addClass("fa-bars");
            noscroll.removeClass("noscroll");
            btnbg.removeClass('mobile-dropdown-bg');
            $('#mobile-dropdown').css("background-color", "rgba(0,0,0,0)");
        }
    });
</script>