{% load static %}
{% load i18n %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/header.css" %}?version=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a id="logo" href="{% url 'index' %}"><img class="header-logo" src="/static/images/albin_black.png" alt="Albin"></a>
        <button class="btn btn-secondary navbar-toggler border-3 px-2" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"
        >
        <i class="bi bi-list fa-2x"></i>
        </button>
        <div class="offcanvas offcanvas-start-lg" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel"
        >
        <div class="offcanvas-header d-flex d-lg-none">
            <h5 class="offcanvas-title text-white" id="offcanvasExampleLabel">DaTe</h5>
            <a href="javascript:void(0) "
                class="text-reset p-0"
                data-bs-dismiss="offcanvas"
                aria-label="close"
            >
            <svg xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="#FFFFFF"
                class="bi bi-x-circle"
                viewBox="0 0 16 16"
              >
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
        <div class="offcanvas-body p-lg-0 justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/events/">Evenemang</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/news/">Nyheter</a>
                </li>
                {% for category in categories %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{category.category_name}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        {% for page in pages %}
                            {% if page.category|lower == category.category_name|lower %}
                                <li><a class="dropdown-item" href="{% url 'staticpages:page' page.slug %}">{{page.title}}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% for page in urls %}
                            {% if page.category|lower == category.category_name|lower %}
                                {% if user.is_authenticated and page.url == "/members/login/" %}
                                    <li><a class="dropdown-item" href="https://wiki.datateknologerna.org/">DaTe Wiki</a></li>
                                    <li><a class="dropdown-item" href="/archive/pictures/">Bilder</a></li>
                                    <li><a class="dropdown-item" href="/archive/documents/">Dokument</a></li>
                                    <li><a class="dropdown-item" href="/archive/exams/">Tentarkiv</a></li>
                                    <li><a class="dropdown-item" href="/ctf/">CTF</a></li>
                                    <li><a class="dropdown-item" href="/members/info/">Min profil</a></li>
                                    <li><a class="dropdown-item" href="/members/cert/">Medlemspass</a></li>
                                    <li><a class="dropdown-item" href="/admin/">Admin</a></li>
                                    <li><a class="dropdown-item" href="/members/logout/">Logga ut</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="{{ page.url }}">{{page.title}}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
        </div>
      </div>
    </div>
</nav>