{% load static %}
<div id="cookie-banner">
    <div class="cookie-banner-content">
        <p class="cookie-banner-text">
            Vi använder cookies för att förbättra din upplevelse på vår webbplats. Genom att fortsätta använda webbplatsen godkänner du vår användning av cookies.
        </p>
        <div class="cookie-banner-buttons">
            <button id="accept-cookies" class="cookie-banner-button">Godkänn</button>
            <button id="decline-cookies" class="cookie-banner-button">Avböj</button>
        </div>
    </div>
</div> 