{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<div class="container-md min-vh-100 container-margin-top">
    <div class="container-size text-center" style="max-width: 1000px;">
        <div class="content">
            <h1>{% translate "Rapportera trakasserier och eventuella brister med jämlikhetsplanen" %}</h1>
            <p>Du kan rapportera trakasserier och brister i jämlikhetsplanen antingen anonymt eller ange din kontaktinformation. Vi tar alla former av trakasserier på allvar och kommer att vidta åtgärder för att upprätthålla en trygg och respektfull miljö för alla medlemmar.<br>
            <br>
            {{ ASSOCIATION_NAME }}s trygghetspersoner behandlar alla rapporteringar av trakasserier och tar kontakt till {{ ASSOCIATION_NAME_SHORT }}s styrelse och/eller ÅAS trakasseriombud om det så önskas.
            </p>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.message.id_for_label }}">{% translate "Beskrivning av händelsen" %}*:</label>
                    {{ form.message }}
                </div>
                <div class="form-group mt-2">
                    <label for="{{ form.email.id_for_label }}">{% translate "Ange din Email om du vill bli kontaktad" %}:</label>
                    {{ form.email }}
                </div>
                <p class="consent-form-group mt-2">
                  <input type="checkbox" name="consent" required/>
                  Jag godkänner
                  <a href="http://{{ request.get_host }}/pages/registerbeskrivning/" target="_blank">
                    villkoren <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                </p>
                <input class="mt-2" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}
