/* NEW STUFF */

@import url('https://fonts.googleapis.com/css2?family=Amethysta&display=swap');

:root {
    --opacityColor: var(--primaryColor);
    /*--opacityColor: rgba(223, 223, 223, 0.55);*/
    --backdropBlur:  blur(2px);
    --mainArsfestColor: var(--silver);
    --mainArsfestTextColor: var(--textColorLightish);
    --mainArsfestButtonHoverColor: var(--darkSilver2);
    --arsfest-font: 'Josefin Sans', sans-serif;
}

.hidden{
    display: none !important;
}

.container-md{
    padding-top: 10vh;
    min-height: 100vh;
    font-family: var(--arsfest-font);
    text-align: start;
    align-content: start;
    font-weight: bold;
    background-position: top;
    border-bottom: 3px solid var(--primaryColor);
}

.content{
    position: relative;
    background-color: rgba(0, 0, 0, 0.80);
    border: 1px solid var(--mainArsfestColor);
    color: var(--mainArsfestTextColor);
    font-size: 1em;
}

  /* if backdrop support: very transparent and blurred */
  @supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    .content {
    background-color: var(--opacityColor);
      -webkit-backdrop-filter: var(--backdropBlur);
      backdrop-filter: var(--backdropBlur);
    }
  }

.content a, .baal-content h2, .baal-content h1 {
    color: var(--mainArsfestTextColor);
}

.baal-content h2, .baal-content h1 {
    color: var(--mainArsfestTextColor);
}

.baal-content {
    color: var(--mainArsfestTextColor);
    box-shadow: 0 0 9px 3px rgba(255, 196, 0, 0.85);
    border-radius: 6px;
}

/* fade animations start*/
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
/* fade animations end */


/* shake animation start */

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  /*shake animation end*/
  
  /*spin animation start*/

  @keyframes spin {
    from{transform: rotate(0px);}
    to{transform: rotate(720deg);}
  }
  
  /*spin animation end*/

  

.header-box {
     box-shadow: 0 0 10px 4px rgba(255, 196, 0, 0.85);
     border-radius: 6px;
 }

.baal-nav{
    text-align: center;
    margin: 8px;
}

.baal-nav a{
    color: var(--textColorLight);
    margin: 5px;
    padding: 10px;
    background-color: var(--primaryColorLight);
    border-radius: 5px;
    transition: .3s;
    border: 1px solid var(--mainArsfestColor);
}

.baal-nav a:hover{
    background-color: rgb(181, 40, 49);
    color: var(--textColorDark) !important;
    box-shadow: 0 0 10px var(--mainArsfestColor);
    -webkit-box-shadow: 0 0 10px var(--mainArsfestColor);
    -moz-box-shadow: 0 0 10px var(--mainArsfestColor);
}

.baal-nav a:active{
    transform: scale(1.05);
}

.text-content div > *, .anmalan > *, .anmalda > *{
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

.alert-danger, .errorlist, .warning{
    color: rgb(201, 99, 88) !important;
}

footer{
    display: none;
}

.navbar{
    display: none;
}

form p > * {
    width: 100%;
}

form label{
    font-family: var(--arsfest-font) !important;
}

form select{
    font-family: var(--arsfest-font) !important;
}

form input {
    font-family: var(--arsfest-font) !important;
}

form button {
    font-family: var(--arsfest-font) !important;
    background-color: var(--primaryColorLighte) !important;
    color: var(--textColorLight) !important;
    border: 1px solid var(--mainArsfestColor) !important;
}

form button:hover {
    background-color: rgb(181, 40, 49) !important;
    color: var(--textColorDark) !important;
    box-shadow: 0 0 10px var(--mainArsfestColor) !important;
    -webkit-box-shadow: 0 0 10px var(--mainArsfestColor) !important;
    -moz-box-shadow: 0 0 10px var(--mainArsfestColor) !important;
}

form button:active{
    transform: scale(1.05);
}

.event-full{
    color: #e4001b;
}

th {
    padding-bottom: 1rem;
}

th, td {
    text-align: left;
    padding: 8px;
}
tr:hover {
    transition: 200ms;
    background-color: var(--mainArsfestButtonHoverColor);
    color: var(--textColorLight);
}
  
  @keyframes glower {
    0% {
      background-position: 0 0;
    }
    
    50% {
      background-position: 400% 0;
    }
    
    100% {
      background-position: 0 0;
    }
  }

    .shooting-star {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
        animation: shoot 2s ease-out;
    }

    /* Animation for shooting stars */
    @keyframes shoot {
        0% {
            opacity: 1;
            transform: translate(0, 0) scale(1);
        }
        70% {
            opacity: 1;
            transform: translate(calc(200px * var(--direction-x)), calc(200px * var(--direction-y))) scale(0.7);
        }
        100% {
            opacity: 0;
            transform: translate(calc(400px * var(--direction-x)), calc(400px * var(--direction-y))) scale(0);
        }
    }

  .inner {
      background-color: var(--opacityColor);
      padding: var(--defaultPadding);
  }

/* Needed for Viggos easter Greggs */
.pentalbin:hover{
    transform: scale(1.01);
}
.pentalbin:active{
    transform: scale(1.05);
}

.pentalbin {
    display: inline-block;
    filter: drop-shadow(0 0 10px rgba(255, 196, 0, 0.7));
}

