@import url('https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--primaryColorLight);
    color: var(--textColorLight);
}

header {
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--textColorLightish);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 1rem;
}

.pdf-container {
    max-width: 90%;
    height: auto;
    padding: 1rem;
    background-color: var(--primaryColorLight);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: var(--defaultRadius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--textColorLightish);
}

h1 {
    color: var(--textColorLightish);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#pdf-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem; /* Adjusted gap */
    margin-bottom: 1rem;
    width: 100%;
    justify-content: center; /* Center align items */
    align-items: center;
}

#pdf-controls button,
#pdf-controls input,
#pdf-controls select {
    padding: 0.5rem 1rem; /* Adjusted padding */
    font-size: 0.9rem; /* Slightly smaller font */
    border: 1px solid var(--helpText);
    border-radius: var(--defaultRadius);
    background-color: var(--primaryColorLight); /* Adjusted background-color */
    color: var(--textColorLight);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

#pdf-controls button:hover,
#pdf-controls input:focus,
#pdf-controls select:hover {
    background-color: var(--primaryColorLighter);
}

#page-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; /* Adjusted gap */
}

#page-navigation button,
#mobile-navigation button {
    padding: 0.5rem 1rem; /* Adjusted padding */
    font-size: 1rem; /* Adjusted font-size */
    background-color: var(--linkColorDark);
    border: none;
    color: #fff;
    border-radius: var(--defaultRadius);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#page-navigation button:hover,
#mobile-navigation button:hover {
    background-color: var(--linkColorDarkHover);
    transform: scale(1.05);
}

#page-num,
#page-count {
    font-size: 1rem;
}

#pdf-viewer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;

    min-height: 70vh; /* Minimum height to ensure visibility */
    overflow: auto;
    padding: 1rem;
}

.page-canvas {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: auto;
    border-radius: var(--defaultRadius);
    margin: 0 auto;
}

#mobile-navigation {
    display: none;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

@media (max-width: 767px) {
    .desktop-only {
        display: none;
    }

    #page-navigation {
        display: none;
    }

    #mobile-navigation {
        display: flex;
    }
}

@media (min-width: 768px) {
    .desktop-only {
        display: flex;
        gap: 0.75rem; /* Adjusted gap */
    }
}

@media (min-width: 1025px) {

    #pdf-viewer.two-page-view .page-canvas {
        max-width: calc(50% - 10px);
    }
}

@media (max-width: 1024px) {
    #pdf-viewer {
        flex-direction: column;
        align-items: center;
    }
    .pdf-container {
        max-width: 100%;
    }
}

#pdf-viewer.single-page-view .page-canvas {
    margin-left: auto;
    margin-right: auto;
}