/* Root colors */
/* use with var(--color); included in base.html*/

:root {
    --primaryColor: #672f6e;
    --primaryColorLight: #9e2eb8;
    --primaryColorLighte: #d799e6;
    --primaryColorLighter: #d799e6;
    --primaryColorTransparent: rgba(103, 47, 110, 0.9);
    --primaryColorTransparenter: rgba(0,0,0,0.8);
    --secondaryColor: #000;
    --secondaryColorDarker: #131313;
    --textColorLight: #fff;
    --textColorLightish: #eaeaea;
    --textColorDark: #000;
    --textColorDarkish: #202020;
    --textColorMedium: #606060;
    --helpText: var(--textColorLightish);
    --helpTextLighter: rgb(199, 199, 199);
    --linkColorDark: #3a80c3;
    --linkColorDarkHover: #26547f;
    --linkColorLight: rgb(208, 255, 0);
    --linkColorLightHover: rgb(146, 179, 0);
    --warning: rgb(216, 153, 146);
    --warning-darker: rgb(213, 91, 78);
    --navClickHighlight: rgba(255, 255, 255, 0.25);
    --navHoverHighlight: rgba(255, 255, 255, 0.15);
    --defaultPadding: 20px;
    --defaultRadius: 5px;
}
