{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% load shared_filters %}
{% load localized_time %}
{% block title %}{{ event.title }}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'events/css/arsfest.css' %}">
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <script src="{% static 'core/js/live-attendee-list.js' %}"></script>
    <style>
        .background-img {
            background: url("https://albin-storage.cdn.datateknologerna.org/biologica/public/events/arsfest-7.jpg") no-repeat center center;
            background-attachment: fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        @media (max-width: 768px) {
            .background-img {
                background-attachment: scroll;
            }
        }
    </style>
{% endblock %}

{% block content %}
<div class="background-img">
    <div class="container-md min-vh-100 p-1">
        <div class="container-size lava-container lava-container-bottom">
            <div class="content header-box ">

                <div class="row justify-content-center">
                    <div class="col-md-6 col-8">
                    </div>
                </div>

                <div class="main-content mt-4">
                    <div class="text-center flex-container-center">
                        <div class="periodic-table-square" aria-label="Biologica logo">
                            {% include "svg/logo.svg" %}
                        </div>
                    </div>
                </div>
                <h1 class="age" style="font-size:64px; text-align:center;">Biologica VII</h1>
                <div class="ball-nav flex-container-center" data-tabbed-nav data-tab-content-class="ball-content">
                    <a class="ball-link glowing-text-orange ontop" href="#/main"
                        data-nav="main">Välkommen</a>
                    {% for page in staticpages %}
                    <a class="ball-link" href="#/{{ page.slug }}" data-nav="{{ page.slug }}">{{
                        page.title }}</a>
                    {% endfor %}
                    <a class="ball-link" href="#/anmalan" data-nav="anmalan">Anmälan</a>
                    <a class="ball-link" href="#/attendee-list"
                        data-nav="attendee-list">Anmälda</a>
                </div>
            </div>
            <div class="text-content lava-container">
                {% for page in staticpages %}
                <div id="{{ page.slug }}" class="content ball-content {{ page.slug }} hidden">
                    <h1>{{ page.title }}</h1>
                    <p>{{ page.content|safe }}</p>
                </div>
                {% endfor %}
                <div id="main" class="content ball-content main">
                    <h1 class="header">{{ event.title }}</h1>
                    <h4>{{ event.event_date_start|date:"l d b Y H:i" }}</h4>
                    <p>{{ event.content|safe }}</p>
                </div>
            </div>
            {% include "events/partials/tabbed_signup.html" with content_class="ball-content" include_commodore=1 %}
            {% include "events/partials/tabbed_attendee_list.html" with content_class="ball-content" strict_parent_capacity=0 %}
        </div>
    </div>
</div>

<script src="{% static 'events/js/tabbed-event.js' %}"></script>
{% endblock %}
