
body {
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: var(--primaryColor);
    color: var(--primaryColor);
}

form{
    padding-top: 2em;
}

.login-page {
    width: 360px;
    max-width: 90vw;
    padding: 25vh 0 0;
    margin: auto auto 10rem auto;
}

.signup-page {
    width: 480px;
    max-width: 90vw;
    padding: 25vh 0 0;
    margin: auto auto 10rem auto;
}
.forgot-password-page {
    width: 480px;
    max-width: 90vw;
    padding: 25vh 0 0;
    margin: auto auto 10rem auto;
}
.reset-password-page {
    width: 480px;
    max-width: 90vw;
    padding: 25vh 0 0;
    margin: auto auto 10rem auto;
}
.center-box {
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    width: 620px;
    max-width: 90vw;
    padding: 3em 3.5em;
    text-align: center;
    -webkit-box-shadow: 0 0 20px 0 rgba(255,255,255,0.5), 0 5px 5px 0 rgba(200,200,200,0.12);
            box-shadow: 0 0 20px 0 rgba(255,255,255,0.5), 0 5px 5px 0 rgba(200,200,200,0.12);
    margin: 20rem auto 10rem auto;
}

.members-form {
    position: relative;
    z-index: 1;
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    max-width: 90vw;
    padding: 4em 4.5em;
    text-align: center;
    -webkit-box-shadow: 0 0 20px 0 rgba(255,255,255,0.5), 0 5px 5px 0 rgba(200,200,200,0.12);
            box-shadow: 0 0 20px 0 rgba(255,255,255,0.5), 0 5px 5px 0 rgba(200,200,200,0.12);
}

.members-form a {
  color: var(--primaryColorLight);
} 

.members-form a:hover {
  color: var(--primaryColorLighter);
} 

.members-form .big {
    max-width: 90vw;
}

.members-form input{
    outline: 0;
    background-color: var(--secondaryColorDarker);
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.members-form select {
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
}

.members-form small {
    color: var(--helpText);
}

.members-form button {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.members-form button:hover,.members-form button:active,.members-form button:focus {
  background: #43A047;
}
.members-form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.members-form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.members-form .register-members-form {
  display: none;
}

.pw-reset-button {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .center-box {
        padding: 2rem 1rem;
    }
}