{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{{page.title}}{% endblock %}

{% block content %}

    <head>
        <link rel="stylesheet" href="{% static 'staticpages/css/staticpage.css' %}" type="text/css">

        <style>
            .background-img{
                background: url("{% if page.image %}{{ page.image.url }}{% elif page.s3_image %}{{ page.s3_image.url }}{% endif %}") no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        </style>
    </head>

    <div class="container-md min-vh-100 container-margin-top p-1 background-img">
        <div class="container-size break-words">
            {% if show_content %}
                <div class="content">
                    {{page.content | safe}}
                </div>
            {% else %}
                <div class="content">
                    <h5>{% trans "Logga in för att se den här sidan" %}</h5>
                </div>
            {% endif %}
        </div>
    </div>
   
{% endblock %}
