/*Event start*/

  
.card {
    border-radius: var(--defaultRadius);
  }
  
.card .fa-chevron-right{
    transition: .3s;
  }
  
.card a:hover .fa-chevron-right{
    transform: translateX(10px);
  }
  
.evet-card > .card .list-inline-item {
    color: var(--helpText);
    font-size: 14px;
  }
  
.evet-card > .card .badge {
    background: var(--primaryColorLighter);
  }
  
.evet-card > .card {
    background: var(--secondaryColor);
  }
  
.evet-card a{
    color: var(--linkColorDark);
    border-top: 2px solid var(--linkColorDark);
  }
  
.evet-card a:active{
    color: var(--linkColorDark);
  }
  
.evet-card a:hover{
    background-color: inherit;
    border-top: 2px solid var(--linkColorDarkHover);
    color: var(--linkColorDarkHover);
  }
  
.evet-card a:focus{
    background-color: inherit;
    box-shadow: none;
  }

.chevron-box {
    margin: auto; 
    border: 1px solid var(--linkColorDark);
    border-radius: 5px;
    padding: 5px;
}

.text-color {
    color: var(--textColorDark);
}

.card {
    box-shadow: 3px 3px 5px 0px rgba(133,133,133,1);
}

.card:hover {
    transform: scale(1.01);
}

.card:hover .fa-chevron-right{
    transform: translateX(10px);
  }

.events-container{
    grid-area: events;
    display: block;
}

.events{
    display: grid;
    grid-row-gap: 10px;
}

.event-box{
    display: grid;
    /*background-color: var(--primaryColorLighter);*/
    background-color: var(--secondaryColor);
    color: var(--textColorDark);
    text-align: left;
    padding: 1px;
    -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
    transition: all 0.2s;
    border-top: var(--linkColorDark) solid 2pt;
    box-shadow: 3px 3px 5px 0px rgba(133,133,133,1);
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-radius: 5px;
}

.event-box:hover {
    color: var(--textColorLight);
    background-color: var(--primaryColorLighter);

}

.event-title{
    padding-top: 5px;
    margin: 5px;
    /*background-color: #c43628;*/
    border-radius: 3px;
    padding: 5px;
    
}

.event-date{
    padding-top: 5px;
    padding-left: 5px;
    border-left: 1px solid var(--primaryColorLight);
    margin: 5px;
}

.header-border-bottom{
    border-bottom: solid;
    border-width: 2px;
    border-color: var(--helpTextLighter);
}

.more-events-button{
    display: inline-block;
    color: var(--linkColorDark)
}

.more-events-button:hover{
    transition: 0.2s;
    scale: 1.01;
    color: var(--linkColorDarkHover);
}
/*Events end*/

/*Calendar*/
.calendar-container{
    display: grid;
    grid-template-columns: 0 1fr 0;
    grid-template-areas: 
    ". box ."
    ". calendar .";
}
.calendar{
    margin-bottom: 1rem;
}
.calendar-box{
    grid-area: box;
    border: 2px solid rgb(163, 163, 163);
    border-radius: 5px;
    padding: 3px;
}

.month{
    padding-top: 10px;
    margin: 0;
    text-align: center;
}

.day {
    border-bottom: 1px solid rgb(190, 190, 190);
}
  
div.calendar-container a {
    color: var(--linkColorDark);
}

.left {
  float: left;
}

.right {
  float: right;
}

.cal-btn {
  outline: none;
  color: var(--textColorDark);
  background-color: transparent;
  box-shadow: 0 0 0 0;
}

.vanilla-calendar-day__btn_today {
    color: var(--textColorLight) !important;
    background-color: #545454 !important;
}

.vanilla-calendar-day__btn_today:hover {
    background-color: #282828 !important;
}

.vanilla-calendar-day__btn_selected {
    background-color: #A3A3A3 !important;
}

.vanilla-calendar-day__btn_selected:hover {
    background-color: #7A7A7A !important;
}

.clearfix {
  padding: 10px;
  text-align: center;
}

/* Calendar tooltip */
.calendar-tooltip {
  position: relative;
  display: inline-block;
}

.calendar-eventday {
  /* Override vanilla calendar default
   * Dont use this class for anything else*/
  color: white !important;
  background-color: var(--linkColorDark) !important;
}

.calendar-eventday:hover {
    background-color: var(--linkColorDarkHover) !important;
}

.calendar-eventday-popup {
  /* Override vanilla calendar default
   * Dont use this class for anything else*/
  color: var(--linkColorDark);
  font-size: 0.75rem;
}

.calendar-eventday-popup:hover {
    color: var(--linkColorDarkHover);
}

/*Calendar end*/