/* Layout and Grid */
.main-container {
    display: grid;
    grid-template-columns: 1fr 850px 350px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      ". news events ."
      ". news extras ."
      ". ig-scroll ig-scroll ."
      ". logos logos .";
    grid-column-gap: 3vw;
}

/* Generic animations */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    60% { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    60% { opacity: 0; }
    to { opacity: 1; }
}

/* Width responsiveness */
@media screen and (max-width: 1400px){
    .main-container{
        grid-template-columns: 5vw 5fr 2fr 5vw;
    }
}

@media screen and (max-width: 991px){
    .main-container{
        grid-template-columns: 1vw 1fr 1vw;
        grid-template-areas:
          ". events ."
          ". news ."
          ". extras ."
          ". logos ."
          ". ig-scroll .";
    }
}

@media screen and (max-width: 550px) {
    .aa-img {
        left: 85%;
    }
}

/* Misc */
.heading-link a {
    color: var(--textColorDark);
}

.heading-link a:hover {
    color: var(--textColorMedium);
}
