{% extends 'core/base.html' %}
{% load cache %}
{% load i18n %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'date/css/homepage.css' %}?{% now 'U' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'date/css/vanilla-calendar.min.css' %}" type="text/css">
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/157670/jquery.jcarousellite.min.js"
            integrity="sha384-IzhLGj7rXpWsQBvNk8QS67xo9KgjmVJp/r5cntqlqIQCy9ZhpsM4JacphpVyjDqj"
            crossorigin="anonymous"></script>
    <script src="{% static 'date/js/vanilla-calendar.min.js' %}"></script>
{% endblock %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}
{% cache 300 main_page_fixed LANGUAGE_CODE %}
    <div class="container-fluid min-vh-100 pulterit-homepage-shell">
        {% include "date/components/header.html" %}
        <section id="news" class="news-events">
            <div id="main" class="main-container">
                {% include "date/components/news.html" %}
                {% include "date/components/events.html" %}
                {% include "date/components/partners.html" %}
            </div>
        </section>
        <section id="reklam" class="text-size">
        </section>
    </div>

    {% include "date/components/scripts.html" %}
    {% endcache %}
{% endblock %}
