
.container {
    background-color: var(--primaryColor);
    color: var(--secondaryColorDarker);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
    grid-template-areas: 
    ". text-area .";
}

.content-grid{
    grid-area: text-area;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    background-color: var(--primaryColorLighter);
    padding: 20px;
    border-radius: 5px;
}

.content-grid img{
    max-height: 35vh;
    max-width: 100%;
    /* keep img ratio correct */
    width: auto !important;
    height: auto !important;
}

div.content-grid a{
    display: inline-block;
    color: var(--linkColorSecondary);
}

div.content-grid a:hover{
    transition: 0.3s;
    color: var(--linkSecondaryHover);
}

@media only screen and (max-width: 1200px) {
    .container{
        grid-template-columns: 10vw 1fr 10vw;
    }
}
@media only screen and (max-width: 900px) {
    .container{
        grid-template-columns: 3vw 1fr 3vw;
    }
}