{% load static i18n localized_urls %}
<div class="logo-container">
    <h3 class="header-border-bottom">{% trans "Samarbetspartners" %}</h3>
        <div class="d-flex flex-wrap justify-content-center align-items-center">
            {% for ad in ads %}
                <a class="m-2" href="{{ ad.company_url }}">
                    <img src="{{ ad.ad_url }}" alt="img" onerror="this.src='/static/core/images/fallback.png'">
                </a>
            {% endfor %}
        </div>
    <div class="text-center">
        <a href="{{ '/pages/foretagssamarbete/'|localized_url }}">{% trans "Vill du sammarbeta med SF-klubben?" %}</a>
    </div>
</div>
